extends ../components/base/layout

block variables
  - const title = "Щетка дисковая «Билайн»" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const contactsNeeded = true
  - const sliderPaginationNeeded = true
  - const sliderNavigationNeeded = true
  - const currentPage = "bent-profile-spacerless-disc-brushes" //- для остальных страниц пишем пустую строку или индекс активного headerLinks

  -
    const bentProfileSpacerlessDiscBrushesTitle = {
      lvl: 2,
      text: "Щетка дисковая «Билайн»",
      classes: "title--h2 pseudo pseudo--line fir",
      isTitleNeed: true
    }

    const bentProfileSpacerlessDiscBrushesSubtitle = {
      lvl: 3,
      text: "Данный вид дисковой щетки идеален для удаления пыли и&nbsp;мелкого мусора с&nbsp;дорожного покрытия в&nbsp;летний период. Он&nbsp;имеют специально разработанную изогнутую &laquo;объёмную&raquo; форму. Когда эти диски набираются на&nbsp;вал, то&nbsp;образуют конструкцию в&nbsp;виде пчелиных сот. Благодаря этому при вращении вала достигается эффект сплошной подметающей поверхности фронтальной щётки, без промежутков.",
      classes: "title--h3 pseudo pseudo--info fir",
      isTitleNeed: false
    }

    const bentProfileSpacerlessDiscBrushesImageParameters = {
      path: "productPage/bent-profile-spacerless-disc-brushes",
      image: "0",
      format: "png",
      width: "1500",
      height: "1784",
      alt: ""
    }

block main
  main
    h1.visually-hidden Тут вы найдете информацию о товаре

    section.grid
      .grid__cell.shop__image.shop.animation-group(data-animate, data-animate-threshold="1.1", data-animate-duration="1.1", data-animate-delay="0.2")
        +shop-image(bentProfileSpacerlessDiscBrushesImageParameters).fir

      .grid__cell.grid__cell--bg.animation-group(data-animate, data-animate-threshold="1.1", data-animate-duration="1.1", data-animate-delay="0.2")
        .grid__cell-inner.shop__content
          +title(bentProfileSpacerlessDiscBrushesTitle)
          +title(bentProfileSpacerlessDiscBrushesSubtitle)


          .box-description
            h3.box-description__title.fir Детали:
            .box-description__item.fir.d-200
              .box-description__left
                p Внутренний диаметр сердечника
              .box-description__right
                p 110&nbsp;мм, 120&nbsp;мм, 127&nbsp;мм, 164&nbsp;мм, 180&nbsp;мм, 220&nbsp;мм, 254&nbsp;мм, 280&nbsp;мм.
            .box-description__item.fir.d-400
              .box-description__left
                p Внешний диаметр ворса
              .box-description__right
                p 300 - 900 мм
            .box-description__item.fir.d-600
              .box-description__left
                p Материал ворса
              .box-description__right
                p
                  strong Полипропилен
                p
                  i Износостойкий, морозоустойчивый полипропиленовый ворс диаметром 2,3-2,5 мм.



      .grid__cell
        +global-slider(bentProfileSpacerlessDiscBrushesSliderData)

      .grid__cell.animation-group(data-animate, data-animate-threshold="1.1", data-animate-duration="1.1", data-animate-delay="0.2")
        .grid__cell-inner
          .shop-content-text.animation-group(data-animate, data-animate-threshold="1.1", data-animate-duration="1.1", data-animate-delay="0.2")
            +title(shopContentTextTitle)
            p.fir.d-200  Данная щетка идеальна для удаления пыли и мелкого мусора с дорожного покрытия.
            p.fir.d-300  Она имеет специально разработанную изогнутую «объёмную» форму. Когда щётки набираются на вал оборудования, то образуют конструкцию в виде пчелиных сот.
            p.fir.d-400  Благодаря этому при вращении вала достигается эффект сплошной подметающей поверхности фронтальной щётки, без промежутков.
            a(href="#").link.read-more.fir Читать больше

    //-
    //-

block modals
