extends ../base/layout

include ../mixins/basic/picture

include ../components/contact-link

block variables
  - var title = "НЭО ДИСК — Контакты"
  - var wrapperMod = ""
  - var hasHeader = true
  - var headerMod = ""
  - var hasFooter = true
  - var footerMod = ""
  - var currentPage = "contacts" //- для остальных страниц пишем либо пустую строку, либо индекс

block main
  main
    h1.visually-hidden Контакты
    section.contacts
      .container.container--no-padding
        .contacts__background
        .content
          .product__text.contacts
            h2 Контакты
            .contacts_group
              strong Отдел снабжения
              +contact-link("mail", "zakupki@neo-disk.ru")
              +contact-link("phone", "8-906-731-53-26")
            .contacts_group
              strong Отдел продаж
              +contact-link("mail", "sales@neo-disk.ru")
              +contact-link("phone", "8-906-731-53-36")
            .contacts_group
              strong Юридический адрес
              p Московская область, г.о. Солнечногорск, дп Поварово, ул. Почтовая, д. 29
            .contacts_group
              strong График работы
              p  пн – пт с 8:00 – 17:00, выходной сб-вc
          .contacts__map#contacts__map

block scripts
  script(type="text/javascript" src="https://api-maps.yandex.ru/2.1/?apikey=0026e06c-f7bd-41bc-87e8-727d75c1ec39&lang=ru_RU")
  script(src="js/vendor.min.js")
  script(src="js/main.min.js")
