extends ../base/layout

include ../mixins/basic/picture

block variables
  - var title = "НЭО ДИСК — Контакты"
  - var wrapperMod = ""
  - var hasHeader = true
  - var headerMod = ""
  - var hasFooter = true
  - var footerMod = ""
  - var currentPage = "contacts" //- для остальных страниц пишем либо пустую строку, либо индекс

block main
  main
    h1.visually-hidden Контакты
    section.contacts
      .container.container--no-padding
        .contacts__background

block scripts
  script(type="text/javascript" src="https://api-maps.yandex.ru/2.1/?apikey=0026e06c-f7bd-41bc-87e8-727d75c1ec39&lang=ru_RU")
  script(src="js/vendor.min.js")
  script(src="js/main.min.js")
