extends ../components/base/layout

block variables
  - const title = "Доставка — Нэо диск"
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const contactsNeeded = true
  - const sliderPaginationNeeded = true
  - const sliderNavigationNeeded = true
  - const currentPage = "delivery"

block main
  main
    h1.visually-hidden Тут вы получите информацию о доставке

    +delivery()


    //-
    //-

block modals
