extends ../components/base/layout

block variables
  - const title = "Щетка дисковая с металлическим сердечником"
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const contactsNeeded = true
  - const sliderPaginationNeeded = true
  - const sliderNavigationNeeded = true
  - const currentPage = "disc-brushes-with-metal-crimp-ring"


block main
  main
    h1.visually-hidden Тут вы найдете информацию о товаре

    +shop()


    //-
    //-

block modals
