extends ../base/layout

include ../mixins/basic/picture
include ../components/product

block data
  -
    const product = {
      imageName: "disc-brushes",
      imageWidth: "718",
      imageHeight: "675",
      imageAlt: "дисковые щетки",
      title: "дисковые щетки из полипропилена или металла с обжимным металлическим кольцом",
      description: [
        "Металлический сердечник прочно удерживает щеточный ворс и препятствует его выпадению, обеспечивая качественную уборку на протяжении всего срока службы щетки.",
        "Благодаря плоской конструкции сердечника, щетка более компактна, что позволяет быстро и экономично доставить ее в самые отдаленные регионы нашей страны. Однако при использовании дисковых щеток с металлическим сердечником понадобятся проставочные кольца. Комплект проставочных колец подбирается исходя из размера внутреннего диаметра используемых щеточных дисков."
      ],
      list: [
        {
          title: "Материал ворса",
          elements: [
            "Морозостойкий полипропилен диаметром 2,3 – 2,5 мм, что позволяет использовать их в любое время года,",
            "Металл (черная или оцинкованная металлическая проволока), которые используют для уборки самых сильных загрязнений и наледи. Использование при ее производстве оцинкованного ворса значительно снижает коррозию щетки, повышая ее сопротивление истиранию и продлевая срок службы."
          ]
        }
      ],
      details: [
        {feature: "Внутренний диаметр кольца", value: "78 мм, 101 мм, 110 мм, 117 мм, 120 мм, 127 мм, 130 мм, 164 мм, 180 мм, 203 мм, 254 мм, 280 мм."},
        {feature: "Наружный диаметр ворса", value: "300-900 мм"}
      ]
    }

block variables
  - var title = "Дисковые щетки из полипропилена или металла с обжимным металлическим кольцом"
  - var wrapperMod = ""
  - var hasHeader = true
  - var headerMod = ""
  - var hasFooter = true
  - var footerMod = ""
  - var currentPage = "" //- для остальных страниц пишем либо пустую строку, либо индекс

block main
  main
    section.product.product--sub
      .container.container--no-padding
        +product(product)


block scripts
  script(src="js/vendor.min.js")
  script(src="js/main.min.js")
