extends ../components/base/layout

block variables
  - const title = "Нэо Диск - чистый город"
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentPage = "index"
  - const contactsNeeded = false

block main
  main
    //-
    //-
    +intro()
    +about-us()
    +products()
    +socials()
    +main-map()

block modals
  script(
    src="https://api-maps.yandex.ru/2.1/?apikey=8ae345f3-fa1c-4989-abc6-3d883df83c02&lang=ru_RU"
    rel="noopener"
    defer=true
    )
