extends ../base/layout

include ../mixins/basic/picture
include ../components/partners-list

block data
  include ../data/partnersData

block variables
  - var title = "НЭО ДИСК — Главная"
  - var wrapperMod = ""
  - var hasHeader = true
  - var headerMod = ""
  - var hasFooter = true
  - var footerMod = ""
  - var currentPage = "partners" //- для остальных страниц пишем либо пустую строку, либо индекс

block main
  main
    h1.visually-hidden Партнеры
    section.partners
      .container.container--no-padding
        .partners__background
        .partners__list-and-buttons
          .partners__main-buttons
            button.partners__main-button.partners__main-button--active.partners__all-dealers-btn.btn-reset(type="button", name="все дилеры") все дилеры
            button.partners__main-button.partners__map-btn.btn-reset(type="button", name="на карте") на карте
          +partners-list(partnersData, "partners__list", true)
        .partners__map#partners__map

block scripts
  script(type="text/javascript" src="https://api-maps.yandex.ru/2.1/?apikey=0026e06c-f7bd-41bc-87e8-727d75c1ec39&lang=ru_RU")
  script(src="js/vendor.min.js")
  script(src="js/main.min.js")
