extends ../base/layout

include ../mixins/basic/picture
include ../components/product

block data
  -
    const product = {
      imageName: "polypropylene-pile",
      imageWidth: "718",
      imageHeight: "675",
      imageAlt: "Ворс полипропиленовый",
      title: "Ворс полипропиленовый",
      description: [
        "Изготавливается из морозостойкого полипропилена. Применяется для изготовления дисковых, лотковых щеток и сменных тупс для коммунальной уборочной техники."
      ],
      list: [
        {
          title: "Достоинствами полипропиленового ворса являются:",
          elements: [
          "водостойкость",
          "морозостойкость",
          "износостойкость."
        ]
        }
      ],
      details: [
        {feature: "Сечение ворса", value: "1,5-3,5 мм"},
        {feature: "Длина ворса", value: "По запросу"}
      ]
    }

block variables
  - var title = "Ворс полипропиленовый"
  - var wrapperMod = ""
  - var hasHeader = true
  - var headerMod = ""
  - var hasFooter = true
  - var footerMod = ""
  - var currentPage = "" //- для остальных страниц пишем либо пустую строку, либо индекс

block main
  main
    section.product
      .container.container--no-padding
        +product(product)


block scripts
  script(src="js/vendor.min.js")
  script(src="js/main.min.js")
