extends ../base/layout

include ../mixins/basic/picture
include ../components/product

block data
  -
    const product = {
      imageName: "polyamide-brush",
      imageWidth: "718",
      imageHeight: "675",
      imageAlt: "Полиамидная щетка",
      title: "Полиамидная щетка",
      description: [
        "Полиамидная нить обладает такими свойствами как мягкость, эластичность и морозоустойчивость, что позволяет ей удалять загрязнения с дорожных ограждений и стен тоннелей, не повреждая конструктивные элементы, установленные на них."
      ],
      list: [
        {
          title: "Материал ворса",
          elements: [
            "Полиамидная нить."
          ]
        }
      ],
      details: [
        {feature: "Внутренний диаметр кольца ", value: "78 мм, 101 мм, 110 мм, 117 мм, 120 мм, 127 мм, 130 мм, 164 мм, 180 мм, 203 мм, 254 мм, 280 мм."}
      ]
    }

block variables
  - var title = "Полиамидная щетка "
  - var wrapperMod = ""
  - var hasHeader = true
  - var headerMod = ""
  - var hasFooter = true
  - var footerMod = ""
  - var currentPage = "" //- для остальных страниц пишем либо пустую строку, либо индекс

block main
  main
    section.product
      .container.container--no-padding
        +product(product)

block scripts
  script(src="js/vendor.min.js")
  script(src="js/main.min.js")
