extends ../components/base/layout

block variables
  - const title = "Ворс полипропиленовый" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const contactsNeeded = true
  - const sliderPaginationNeeded = true
  - const sliderNavigationNeeded = true
  - const currentPage = "polypropylene-pile" //- для остальных страниц пишем пустую строку или индекс активного headerLinks

  -
    const polypropylenePileTitle = {
      lvl: 2,
      text: "Ворс полипропиленовый",
      classes: "title--h2 pseudo pseudo--line fir",
      isTitleNeed: true
    }

    const polypropylenePileSubtitle = {
      lvl: 3,
      text: "Изготавливается из&nbsp;морозостойкого полипропилена. Применяется для изготовления дисковых, лотковых щеток и&nbsp;сменных тупс для коммунальной уборочной техники.",
      classes: "title--h3 pseudo pseudo--info fir",
      isTitleNeed: true
    }

    const polypropylenePileImageParameters = {
      path: "content/shop",
      image: "polypropylene-pile",
      format: "png",
      width: "1500",
      height: "1500",
      alt: "Ворс полипропиленовый зеленого цвета"
    }

block main
  main
    h1.visually-hidden Тут вы найдете информацию о товаре

    section.grid
      .grid__cell.shop__image.shop.animation-group(data-animate, data-animate-threshold="1.1", data-animate-duration="1.1", data-animate-delay="0.2")
        +shop-image(polypropylenePileImageParameters)

      .grid__cell.grid__cell--bg.animation-group(data-animate, data-animate-threshold="1.1", data-animate-duration="1.1", data-animate-delay="0.2")
        .grid__cell-inner.shop__content.fir
          +title(polypropylenePileTitle)
          +title(polypropylenePileSubtitle)

          .box-description
            h3.box-description__title.fir Детали:
            .box-description__item.fir.d-200
              .box-description__left
                p Сечение ворса
              .box-description__right
                p 1,5-3,5&nbsp;мм.
            .box-description__item.fir.d-400
              .box-description__left
                p Длина ворса
              .box-description__right
                p по&nbsp;запросу
            .box-description__item.fir.d-400
              .box-description__left
                p Достоинствами полипропиленового ворса являются:
              .box-description__right
                p водостойкость, морозостойкость, износостойкость



      .grid__cell
        +global-slider(polypropylenePileSliderData)



    //- на странице запрещен "голый" код
    //- все блоки вставляются из папки pug/components/blocks

block modals
