extends ../components/base/layout

block variables
  - const title = "Беспроставочные дисковые щетки гнутого профиля с обжимным металлическим кольцом" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const contactsNeeded = true
  - const sliderPaginationNeeded = true
  - const sliderNavigationNeeded = true
  - const currentPage = "shaped-disc-brushes-with-a-shaped-metal-ring" //- для остальных страниц пишем пустую строку или индекс активного headerLinks

  -
    const shapedDiscBrushesWithAShapedMetalRingTitle = {
      lvl: 2,
      text: "Беспроставочные дисковые щетки гнутого профиля с&nbsp;обжимным металлическим кольцом",
      classes: "title--h2 pseudo pseudo--line fir",
      isTitleNeed: true
    }

    const shapedDiscBrushesWithAShapedMetalRingSubtitle = {
      lvl: 3,
      text: "Данный вид дисковой щетки изготавливается практически также, как и&nbsp;с&nbsp;плоским сердечником, только в&nbsp;конце проходит еще одну стадию производства: он&nbsp;зажимается прессом на&nbsp;специальной зигзагообразной оснастке и&nbsp;принимает изогнутую форму. Благодаря гнутому профилю, ворс распределен по&nbsp;валу уборочной машины более равномерно, что значительно повышает качество уборки.",
      classes: "title--h3 pseudo pseudo--info fir",
      isTitleNeed: true
    }

    const shapedDiscBrushesWithAShapedMetalRingImageParameters = {
      path: "content/shop",
      image: "shaped-disc-brushes-with-a-shaped-metal-ring",
      format: "png",
      width: "1500",
      height: "1500",
      alt: "Щётка зеленого цвета"
    }

block main
  main
    h1.visually-hidden Тут вы найдете информацию о товаре

    section.grid
      .grid__cell.shop__image.shop.animation-group(data-animate, data-animate-threshold="1.1", data-animate-duration="1.1", data-animate-delay="0.2")
        +shop-image(shapedDiscBrushesWithAShapedMetalRingImageParameters)

      .grid__cell.grid__cell--bg.animation-group(data-animate, data-animate-threshold="1.1", data-animate-duration="1.1", data-animate-delay="0.2")
        .grid__cell-inner.shop__content.fir
          +title(shapedDiscBrushesWithAShapedMetalRingTitle)
          +title(shapedDiscBrushesWithAShapedMetalRingSubtitle)

          .box-description
            h3.box-description__title.fir Детали:
            .box-description__item.fir.d-200
              .box-description__left
                p Внутренний диаметр сердечника
              .box-description__right
                p 164&nbsp;мм, 180&nbsp;мм, 220&nbsp;мм, 254&nbsp;мм
            .box-description__item.fir.d-400
              .box-description__left
                p Внешний диаметр ворса
              .box-description__right
                p 300 - 900 мм
            .box-description__item.fir.d-600
              .box-description__left
                p Материал ворса
              .box-description__right
                p
                  strong Полипропилен
                p
                  i диаметром 2,3&nbsp;&mdash; 2,5&nbsp;мм
                p
                 strong Металл
                p
                  i черная или оцинкованная металлическая проволока диаметром 0,45&nbsp;мм.





      .grid__cell
        +global-slider(shapedDiscBrushesWithAShapedMetalRingSliderData)


    //- на странице запрещен "голый" код
    //- все блоки вставляются из папки pug/components/blocks

block modals
