extends ../components/base/layout

block variables
  - var title = "Список страниц"

block main
  style.
    .container {
      padding-top: 50px;
      padding-bottom: 50px;
    }

    h1 {
      font-size: 24px;
      line-height: 28px;
    }

    a {
      color: rgb(10, 10, 175);
    }

    li {
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 7px;
    }

    img {
      width: 100%;
      max-width: 300px;
      height: auto;
      display: block;
      margin-bottom: 40px;
    }

    @media (max-width: 768px) {
      .container {
        padding-top: 20px;
        padding-bottom: 20px;
      }

      ol {
        padding-left: 20px;
      }

      ol li {
        margin-bottom: 15px;
      }
    }

  -
    var pages = [
      {
        name: "UI-kit — ui-kit.html",
        src: "ui-kit.html"
      },
      {
        name: "Главная — index.html",
        src: "index.html",
      },
      {
        name: "Партнеры — dealers.html",
        src: "dealers.html",
      },
      {
        name: "Доставка — delivery.html",
        src: "delivery.html",
      },
      {
        name: "Щетка дисковая «Билайн» —  bent-profile-spacerless-disc-brushes.html",
        src: "bent-profile-spacerless-disc-brushes.html",
      },
      {
        name: "Щетка дисковая с металлическим сердечником — shaped-disc-brushes-with-a-shaped-metal-ring.html",
        src: "disc-brushes-with-metal-crimp-ring.html",
      },
      {
        name: "Полиамидная щетка — polyamide-brush.html",
        src: "polyamide-brush.html",
      },
      {
        name: "Ворс полипропиленовый — polypropylene-pile.html",
        src: "polypropylene-pile.html",
      },
      {
        name: "Беспроставочные дисковые щетки гнутого профиля с обжимным металлическим кольцом — shaped-disc-brushes-with-a-shaped-metal-ring.html",
        src: "shaped-disc-brushes-with-a-shaped-metal-ring.html",
      },
      {
        name: "Проставочные кольца — spacer-rings.html",
        src: "spacer-rings.html",
      },
      {
        name: "Щетка дисковая беспроставочная — spacerless-straight-profile-disc-brushes.html",
        src: "spacerless-straight-profile-disc-brushes.html",
      },
      {
        name: "Стальной подкат — steel-roll.html",
        src: "steel-roll.html",
      },
      {
        name: "Лотковые щетки — tray-brushes.html",
        src: "tray-brushes.html",
      },
      {
        name: "Тупсы — tups.html",
        src: "tups.html",
      },
    ]

  main.container.main-index
    +img("content", "logo", "png", "400px", "370px", "Логотип сайта")
    h1 Список страниц
    ol
      each page in pages
        li
          a(href= page.src)= page.name
