extends ../base/layout

include ../mixins/basic/picture
include ../components/product

block data
  -
    const product = {
      images: [
        {
          imageName: "spacer-rings",
          imageWidth: "718",
          imageHeight: "479",
          imageAlt: "Проставочные кольца",
        }
      ],
      title: "Проставочные кольца",
      description: [
        "Проставочные кольца требуются при использовании дисковых щеток с металлическим сердечником. Они помогают достичь необходимого расстояния между соседними щеточными дисками. Это расстояние позволяет, во-первых, обеспечивать нужный уровень густоты ворса, во вторых, не превышать максимальных весовых норм механизма. Комплект проставочных колец подбирается исходя из размера внутреннего диаметра используемых щеточных дисков."
      ],
      list: [
        {
          title: "Материал изготовления:",
          elements: [
            "Стальная полоса (лента) толщиной 1-1,2 мм."
          ]
        }
      ],
      details: [
        {feature: "Диаметр кольца", value: "78 ММ, 101 ММ, 110 ММ, 117 ММ, 120 ММ, 127 ММ, 130 ММ, 164 ММ, 180 ММ, 203 ММ, 254 ММ, 280 ММ."},
      ]
    }

block variables
  - var title = "Проставочные кольца"
  - var wrapperMod = ""
  - var hasHeader = true
  - var headerMod = ""
  - var hasFooter = true
  - var footerMod = ""
  - var currentPage = "" //- для остальных страниц пишем либо пустую строку, либо индекс

block main
  main
    section.product
      .container.container--no-padding
        +product(product)

block scripts
  script(src="js/vendor.min.js")
  script(src="js/main.min.js")
