extends ../base/layout

include ../mixins/basic/picture
include ../components/product

block data
  -
    const product = {
      images: [
        {
          imageName: "spaceless-straight-disc-brushes",
          imageWidth: "718",
          imageHeight: "675",
          imageAlt: "дисковые щетки",
        }
      ],
      title: "Беспроставочные дисковые щетки из полипропилена прямого профиля",
      description: [
        "Конструктивной особенностью беспроставочной дисковой щетки является наличие кольцевых выступов по торцам дисков, выполняющих функцию проставочных колец. Поэтому, при монтаже беспроставочных щеточных дисков на вал, отпадает необходимость применения проставочных колец. Толщина сердечника – 45 мм.",
        "Наличие трех фиксирующих выступов в пластмассовом сердечнике обеспечивает полную совместимость дисков с валом, что исключает дисбаланс и увеличивает ресурс узлов привода щетки, а также исключает проворачивание щеток на валу.",
        "Изношенные щеточные диски могут подвергаться вторичной переработке."
      ],
      list: [
        {
          title: "Материал ворса",
          elements: [
            "Полипропилен диаметром 2,3-2,5 мм."
          ]
        }
      ],
      details: [
        {feature: "Внутренний диаметр кольца", value: "78 мм, 101 мм, 110 мм, 120 мм, 130 мм, 180 мм, 254 мм, 280 мм."},
        {feature: "Наружный диаметр ворса", value: "300-900 мм"}
      ]
    }

block variables
  - var title = "Беспроставочные дисковые щетки из полипропилена прямого профиля"
  - var wrapperMod = ""
  - var hasHeader = true
  - var headerMod = ""
  - var hasFooter = true
  - var footerMod = ""
  - var currentPage = "" //- для остальных страниц пишем либо пустую строку, либо индекс

block main
  main
    section.product.product--sub
      .container.container--no-padding
        +product(product)


block scripts
  script(src="js/vendor.min.js")
  script(src="js/main.min.js")
