extends ../base/layout

include ../mixins/basic/picture
include ../components/product

block data
  -
    const product = {
      images: [
        {
          imageName: "steel-tackle",
          imageWidth: "718",
          imageHeight: "675",
          imageAlt: "Стальной подкат",
        }
      ],
      title: "Стальной подкат",
      description: [
        "Изготавливается из высокоуглеродистой пружинной стали. Применяется для набивки лотковых щеток и изготовления сменных тупс для коммунальной уборочной техники."
      ],
      list: [
        {
          title: "Достоинствами стального подката являются:",
          elements: [
            "жесткость",
            "износостойкость."
          ]
        }
      ],
      details: [
        {feature: "Сечение подката", value: "3×0,6 мм"},
        {feature: "Длина ворса", value: "600-700 мм"}
      ]
    }

block variables
  - var title = "Стальной подкат"
  - var wrapperMod = ""
  - var hasHeader = true
  - var headerMod = ""
  - var hasFooter = true
  - var footerMod = ""
  - var currentPage = "" //- для остальных страниц пишем либо пустую строку, либо индекс

block main
  main
    section.product
      .container.container--no-padding
        +product(product)


block scripts
  script(src="js/vendor.min.js")
  script(src="js/main.min.js")
