extends ../base/layout

include ../mixins/basic/picture
include ../components/product

block data
  -
    const product = {
      images: [
        {
          imageName: "trough-brushes",
          imageWidth: "718",
          imageHeight: "617",
          imageAlt: "Лотковые щетки",
        },
        {
          imageName: "trough-brushes-sector",
          imageWidth: "718",
          imageHeight: "580",
          imageAlt: "Сектор лотковой щетки",
        }
      ],
      title: "Лотковые щетки",
      description: [
        "Щетки лотковые предназначены для уборки прибордюрной территории дороги, тротуарных поребриков, других трудно доступных мест. Лотковая щетка имеет конусообразную форму, которая и позволяет использовать ее для удаления мусора из лотка дороги. По конструкции лотковые щетки состоят из сплошного кольцевого основания с набивочным материалом. В качестве набивочного материала применяют полипропиленовую леску или стальную полосу из пружинистой стали (подкат). Возможен вариант использования обоих типов набивочного материала. Щетки лотковые находят широкое применение в спецавтохозяйствах коммунальных служб городов, аэропортов, больших автотранспортных компаниях, промышленных предприятиях и др.",
        "Основание лотковой щетки также может быть изготовлено в виде сегментов (секторы), которые выполнены из ударопрочного, износо- и морозоустойчивого полипропилена, либо фанеры. С учетом диаметра, основание лотковой многоразовой щеточной установки может состоять из двух – пяти сегментов. Каждый из них имеет несколько рядов конических отверстий."
      ],
      list: [
        {
          title: "Материал основания",
          elements: [
            "Пластик 20 мм,",
            "Водостойкая фанера 24 мм."
          ]
        },
        {
          title: "Материал набивки",
          elements: [
            "Полипропиленовый ворс диаметром 2,3-2,5 мм различной длины,",
            "Стальной подкат 3 мм различной длины."
          ]
        }
      ],
      individual: "true"
    }

block variables
  - var title = "Лотковые щетки"
  - var wrapperMod = ""
  - var hasHeader = true
  - var headerMod = ""
  - var hasFooter = true
  - var footerMod = ""
  - var currentPage = "" //- для остальных страниц пишем либо пустую строку, либо индекс

block main
  main
    section.product
      .container.container--no-padding
        +product(product)


block scripts
  script(src="js/vendor.min.js")
  script(src="js/main.min.js")
