extends ../base/layout

include ../mixins/basic/picture
include ../components/product

block data
  -
    const product = {
      images: [
        {
          imageName: "tupsy",
          imageWidth: "718",
          imageHeight: "675",
          imageAlt: "Тупсы",
        }
      ],
      title: "Тупсы",
      description: [
        "Предназначены для замены наполнителя в многоразовых лотковых щетках для увеличения срока ее службы, являются сенными элементами щетки лотковой.",
        "Традиционно тупсы производятся из подката, который отличается повышенной износоустойчивостью, заправленного и прочно обжатого в профиль стального типа. Тупсы с ворсом из металла (подкатом), в основном, используются в зимний сезон для сбора обледеневшей грязи в сложнодоступных местах по краям дороги, у тротуаров, бордюров, где применение щеточного оснащения прочих видов малоэффективно либо невозможно.",
        "Тупсы с ворсом из полипропилена с легкостью справляются со сбором пыли, мусора, при условии, что температура окружающей среды – от нуля и выше. В качестве набивки щеток лотковых с комбинированным ворсом, используются тупсы обоих видов."
      ],
      list: [
        {
          title: "Материал рабочей части",
          elements: [
            "Полипропиленовый ворс диаметром 2,3-2,5 мм,",
            "Стальной подкат 3 мм."
          ]
        }
      ],
      details: [
        {feature: "Длина тупсы", value: "300-350 мм."}
      ]
    }

block variables
  - var title = "Тупсы"
  - var wrapperMod = ""
  - var hasHeader = true
  - var headerMod = ""
  - var hasFooter = true
  - var footerMod = ""
  - var currentPage = "" //- для остальных страниц пишем либо пустую строку, либо индекс

block main
  main
    section.product
      .container.container--no-padding
        +product(product)


block scripts
  script(src="js/vendor.min.js")
  script(src="js/main.min.js")
