extends ../components/base/layout

block variables
  - const title = "UI-kit"

block main
  style.
    main {
      margin-top: 100px;
    }

    main > .container {
      padding-top: 30px;
      padding-bottom: 30px;
    }

    .components-backwards {
      color: #ffffff;
      display: inline-block;
    }

    .components-backwards span:first-child {
      position: relative;
      top: -3px;

      display: inline-block;
      margin-right: 15px;

      font-size: 16px;
      line-height: 24px;
      vertical-align: top;

      transform: scale(2);
    }

    .components-backwards span:last-child {
      font-size: 16px;
      line-height: 24px;
    }

    .components-backwards + h1 {
      margin-bottom: 0;
    }

    .container > section {
      padding: 70px 0 0 0;
    }

    section > h2 {
      margin: 0 0 20px 0;
      padding: 20px 0;
      position: relative;
      color: #ffffff;
    }

    section > h2::before {
      content: "";
      position: absolute;
      height: 100%;
      width: 100vw;
      left: 50%;
      top: 0;
      transform: translateX(-50%);
      background-color: #2c39f2;
      z-index: -1;
    }

    .header-ui {
      background-color: #2c39f2;
      padding: 20px 0;
      position: fixed;
      width: 100vw;
      z-index: 99;
      box-shadow: 0 0 3px 1px #000000;
    }

    .header-ui__nav {
      display: grid;
      grid-template-columns: max-content 1fr;
      gap: 20px 80px;
    }

    .header-ui__inner-list {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      gap: 10px 30px;
    }

    .header-ui__inner-link {
      color: #ffffff;
      transition: color 0.3s ease;
    }

    .header-ui__inner-link:hover,
    .header-ui__inner-link.is-active {
      color: #ff1553;
    }

    .header-ui__inner-link.is-inactive {
      color: #ffffff;
      pointer-events: none;
    }

  header.header-ui
    nav.header-ui__nav.container
      a.components-backwards(href="sitemap.html")
        span &larr;
        span вернуться на разводящую
      ul.header-ui__inner-list
        li.header-ui__inner-item
          a.header-ui__inner-link(href="#links", data-navigation-link) Links
        li.header-ui__inner-item
          a.header-ui__inner-link(href="#product-card", data-navigation-link) product card
        li.header-ui__inner-item
          a.header-ui__inner-link(href="#video", data-navigation-link) video
        li.header-ui__inner-item
          a.header-ui__inner-link(href="#title", data-navigation-link) title

  main
    .container
      h1 UI-kit
      section(id="links")
        h2 Links
        +link({href: "#", title: "Осмысленная подсказка к ссылке", text: "Ссылка на что-то"})
        p Пример вызова
        code
          pre +link({text: "Текст", href: "#"})
        p Пример вызова
        code
          pre +link({text: "Текст", href: "#"}).link--lima
        +link({text: "Текст", href: "#"}).link--lima
        p Пример вызова
        code
          pre +link({text: "Текст", href: "#"}).link--limeade
        +link({text: "Текст", href: "#"}).link--limeade
    section(id="product-card")
      h2 Product card
      p Пример вызова
      code
        pre +product-card({path: "products", image: "2", format: "png", width: "328", height: "104", altText: "", text: "стальной подкат"})
      +product-card({path: "products", image: "2", format: "png", width: "328", height: "104", altText: "", text: "стальной подкат"})
    section(id="video")
      h2 Video
      p Пример вызова
      code
        pre +video({link: "link", width: "witdh", height: "height", type: "video type", mute: "удалить строку, если нужен звук", poster: "link"})
      +video({link: "video/video-main.mp4", width: "814px", height: "457px", type: "video/mp4", mute: "muted"})
    section(id="title")
      h2 Title
      p Пример вызова
      code
        pre +title({lvl: 2, text: "Заголовок второго уровня", classes: "", isTitleNeed: true})
      +title({lvl: 2, text: "Заголовок второго уровня", classes: "", isTitleNeed: true})
  script
    include ../../js/inline/ui-kit.js
