-
  const aboutUsTitleParameters = {
    lvl: 2,
    text: "О нас",
    classes: "title--main title--line",
    isTitleNeed: true
  };

mixin about-us()
  .about-us
    .container.animation-group(data-animate, data-animate-threshold="1.1", data-animate-duration="1.1", data-animate-delay="0.2")
      +title(aboutUsTitleParameters)
      .about-us__wrapper
        .about-us__information.fir
          p.about-us__text Мы&nbsp;являемся одним из&nbsp;крупнейших производителей щеток для коммунальной уборочной техники различных типов размеров и&nbsp;конфигураций, которые используются для транспортных средств как отечественного, так и&nbsp;зарубежного производства.
          .about-us__inner
            p Одним из&nbsp;важнейших аспектов нашей деятельности является
              span.about-us__semibold  безопасность и&nbsp;качество продукции.
            p При производстве мы&nbsp;используем только&nbsp;
              span.about-us__semibold качественное сырье&nbsp;
              | от проверенных поставщиков.
            p В&nbsp;лаборатории постоянно проводится&nbsp;
              span.about-us__semibold контроль качества &thinsp;
              | поставляемого сырья и&nbsp;качества произведенной продукции.
            p Также придается большое значение&nbsp;
              span.about-us__semibold расширению ассортимента&nbsp;
              | выпускаемой продукции в&nbsp;соответствии с&nbsp;увеличением различных типов новой отечественной и&nbsp;зарубежной уборочной техники.
        +advantages-list()
