-
  const aboutUsTitleParameters = {
    lvl: 2,
    text: "Наше предприятие",
    classes: "title--main title--line",
    isTitleNeed: true
  };

mixin about-us()
  .about-us
    .container.animation-group(data-animate, data-animate-threshold="1.1", data-animate-duration="1.1", data-animate-delay="0.2")
      +title(aboutUsTitleParameters)
      .about-us__wrapper
        .about-us__information.fir
          p.about-us__text Мы&nbsp;являемся одним из&nbsp;крупнейших производителей щеток для коммунальной уборочной техники различных типов размеров и&nbsp;конфигураций, которые используются для транспортных средств как отечественного, так и&nbsp;зарубежного производства.
          .about-us__inner
            ul
              li Собственные современные производственные линии для изготовления продукции
              //span.about-us__semibold  безопасность и&nbsp;качество продукции.
              li Производительность более  1,5 млн единиц продукции в год
                //span.about-us__semibold качественное сырье&nbsp;
                //| от проверенных поставщиков.
              li Изготовление продукции на собственных производственных площадях в Московской области Солнечногорского района
                //span.about-us__semibold контроль качества &thinsp;
                //| поставляемого сырья и&nbsp;качества произведенной продукции.
              li Складские помещения более 1000 м2
                //span.about-us__semibold расширению ассортимента&nbsp;
                //| выпускаемой продукции в&nbsp;соответствии с&nbsp;увеличением различных типов новой отечественной и&nbsp;зарубежной уборочной техники.
              li Использование только высококачественного сырья от проверенных поставщиков
              li Численность персонала до 100 человек
              li Более 200 постоянных клиентов
        +advantages-list()
