mixin box-information()
  .box-information
    .box-information__item.fir.d-200
      h4.box-information__title Самовывоз
      p.box-information__subtitle Со склада по адресу:
      p Московская область, г.о. Солнечногорск, <br> дп Поварово, ул. Почтовая, д. 29
      p.box-information__subtitle График работы склада:

      .box-information__worktime
        p пн-пт:
        p 8<sup>00</sup> — 17<sup>00</sup>
      .box-information__worktime
        p сб-вc:
        p выходной

    .box-information__item.fir.d-400
      h4.box-information__title Бесплатная доставка
      p.box-information__subtitle Осуществляется до терминала компании «Деловые линии»
      .box-information__wrapper
        p «Байкал Сервис»
        p г. Зеленоград, г. Солнечногорск
    .box-information__item.fir.d-600
      h4.box-information__title Доставка в регионы
      p.box-information__subtitle Происходит транспортной компанией
      .box-information__wrapper
        p Стоимость доставки по России зависит от суммы заказа
