mixin box-description()
  .box-description
    h3.box-description__title.fir Детали:
    .box-description__item.fir.d-200
      .box-description__left
        p Внутренний диаметр сердечника
      .box-description__right
        p 78 мм, 101 мм, 110 мм, 117 мм, 120 мм, 127 мм, 130 мм, 164 мм, 180 мм, 203 мм, 254 мм, 280 мм.
    .box-description__item.fir.d-400
      .box-description__left
        p Внешний диаметр ворса
      .box-description__right
        p 300 - 900 мм
    .box-description__item.fir.d-600
      .box-description__left
        p Материал ворса
      .box-description__right
        p
          strong Морозостойкий полипропилен
        p
         i Износостойкий, морозоустойчивый полипропиленовый ворс диметром 2,3-2,5 мм
        p
          strong Металл
        p
          i Черненая или оцинкованная металлическая проволока диаметром 0,45 мм. Используется для уборки самых сильных загрязнений и наледи.

