-
  const introTitleParameters = {
    lvl: 1,
    text: "Интро сайта НэоДиск",
    classes: "visually-hidden",
    isTitleNeed: true
  };

mixin intro()
  .intro
    .container
      +title(introTitleParameters)
      +video()
      +main-page-swiper()
