-
  const shopContentTextTitle = {
    lvl: 3,
    text: "Подробная информация:",
    classes: "title--content-text pseudo pseudo--info fir d-100",
    isTitleNeed: true
  }


mixin shop-content-text(titleProps= shopContentTextTitle)
  .shop-content-text.animation-group(data-animate, data-animate-threshold="1.1", data-animate-duration="1.1", data-animate-delay="0.2")
    +title(shopContentTextTitle)
    p.fir.d-200  Чаще всего применяется на коммунальных, дорожных и уборочных машинах как отечественного, так и импортного производства.
    p.fir.d-300  Щетка дисковая с металлическим сердечником состоит из ворса, обжатого металлическим кольцом (сердечником), который изготавливается из стальной полосы (ленты) и имеет один фиксирующий шпоночный выступ, предотвращающий прокручивание дисковой щётки относительно вала. Металлический сердечник прочно удерживает ворс и препятствует его выпадению, обеспечивая качественную уборку на протяжении всего срока службы щетки.
    p.fir.d-400  Благодаря плоской конструкции сердечника, щетка дисковая более компактна, что позволяет быстро и экономично осуществляется доставку до покупателя. Поставляется в связках по 10 или 20 штук.
    p.fir.d-500  Между щетками дисковыми располагаются проставочные кольца. Они помогают достичь необходимого расстояния между щетками. Это расстояние позволяет обеспечить нужный уровень густоты ворса, а также не превышать максимальных весовых норм механизма вала.
    a(href="#").link.read-more.fir Читать больше
