-
  const shopProductInformationTitle = {
    lvl: 2,
    text: "Щетка дисковая с металлическим сердечником",
    classes: "title--h2 pseudo pseudo--line fir",
    isTitleNeed: true
  }

  const shopProductInformationSubtitle = {
    lvl: 3,
    text: "Чаще всего применяется на коммунальных, дорожных и уборочных машинах как отечественного, так и импортного производства.\n",
    classes: "title--h3 pseudo pseudo--info fir",
    isTitleNeed: true
  }

mixin shop-information
  +title(shopProductInformationTitle)
  +title(shopProductInformationSubtitle)
  +box-description()
