-
  const shopContentTextTitle = {
    lvl: 3,
    text: "Подробная информация:",
    classes: "title--content-text pseudo pseudo--info fir d-100",
    isTitleNeed: true
  }


mixin shop-content-text(titleProps= shopContentTextTitle)
  .shop-content-text.animation-group(data-animate, data-animate-threshold="1.1", data-animate-duration="1.1", data-animate-delay="0.2")
    +title(shopContentTextTitle)
    p.fir.d-200  Применяются на&nbsp;большинстве коммунальных, дорожных и&nbsp;уборочных машинах как отечественного (МТЗ, ПУМ, КДМ, Чистодор, включая уборочную технику на&nbsp;базе МАЗ, КАМАЗ, ЗиЛ и&nbsp;т.&nbsp;д.), так и&nbsp;импортного производства (Бродвей, Унимог, Мультикар, Бухер).
    p.fir.d-300  Классическая щетка дисковая состоит из&nbsp;износостойкого и&nbsp;морозостойкого полипропиленового ворса, обжатого металлическим кольцом (сердечником), который изготавливается из&nbsp;стальной ленты и&nbsp;имеет фиксирующий шпоночный выступ, предотвращающий прокручивание щеточных колец относительно вала щетки.
    p.fir.d-400  Металлический сердечник прочно удерживает щеточный ворс и&nbsp;препятствует его выпадению, обеспечивая качественную уборку на&nbsp;протяжении всего срока службы щетки.
    p.fir.d-500  Благодаря плоской конструкции сердечника, щетка более компактна, что позволяет быстро и&nbsp;экономично доставить ее&nbsp;в&nbsp;самые отдаленные регионы нашей страны. Поставляются в&nbsp;связках по&nbsp;10&nbsp;или 20&nbsp;штук.
    p.fir.d-600  Однако при использовании дисковых щеток с&nbsp;металлическим сердечником требуется отдельно приобретать комплект колец проставочных. Они помогают достичь необходимого расстояния между соседними щеточными дисками. Это расстояние позволяет, во-первых, обеспечивать нужный уровень густоты ворса, во-вторых, не&nbsp;превышать максимальных весовых норм механизма. Комплект проставочных колец подбирается исходя из&nbsp;размера внутреннего диаметра используемых щеточных дисков.
    a(href="#").link.read-more.fir Читать больше
