.contacts {
  position: relative;
  background-color: $color-white-smoke;
}

.contacts__background {
  position: fixed;
  z-index: 0;
  top: 0;
  right: 0;
  width: var(--backgroundContactsWidth);
  height: 100vh;
  background-color: $color-wild-willow;
}

.contacts_group {
  margin-bottom: 16px;
}

.contacts_group p {
  @media (min-width: 1024px) {
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.contacts_group .contact-link {
  margin-bottom: 8px;
  margin-left: 16px;
}

.content {
  display: flex;

  @media (max-width: 1023px) {
    flex-direction: column-reverse;
  }
}

.product__text.contacts {
  margin: 0 48px 48px;
  min-width: 300px;
}

.contacts__map {
  @media (max-width: 1023px) {
    height: 400px;
    margin-bottom: 32px;
  }

  @media (min-width: 1024px) {
    flex: 1;
    height: calc(100vh - var(--headerHeight) - var(--footerHeight) - 32px);
  }
}
