.delivery__content {
  & > .title--h2 {
    margin: 0;
    margin-bottom: size(50px);
    color: $color-mantis;

    @include vp-1023 {
      &::before {
        display: none;
      }
    }
  }

  & > .title--h3 {
    margin: 0;
    margin-bottom: size(37px);
    color: $color-limeade;

    @include vp-1023 {
      &::before {
        display: none;
      }
    }
  }

  .box-information {
    margin-bottom: size(60px);
  }

  .h3--offset {
    margin-bottom: size(3px);
  }
}
