.header {
  background-color: $color-white-smoke;
}

.header__wrapper {
  position: relative;
  z-index: 11;
  display: flex;
  // flex-wrap: wrap;
  align-items: center;
  padding: 29px 0;
}

.header__logo {
  margin-left: 5px;
  margin-right: 15px;
}

.header__main-nav {
  flex-shrink: 1;
  margin: 0 auto;
}

.header__contacts {
  flex-shrink: 0;
  margin-top: 0;
  margin-right: 2px;
  margin-left: 15px;

  @media (max-width: $viewport--md) {
    width: 20%;

    & > ul {
      display: none;
    }
  }
}

.header__contacts-list {
  display: flex;
  margin: 0;
  margin-right: -33px;
  padding: 0;

  list-style: none;
}

.header__contacts-item {
  margin-right: 33px;
}

@media (max-width: 1060px) {
  .header__logo {
    margin-left: 0;
  }

  .header__contacts {
    margin-right: -5px;
    margin-left: 10px;
  }

  .header__contacts-list {
    margin-right: -15px;
  }

  .header__contacts-item {
    margin-right: 15px;
  }
}

@media (max-width: 950px) {
  .header__logo {
    margin-left: -10px;
    margin-right: 10px;
  }

  .header__contacts-list {
    flex-direction: column;
    margin-bottom: -5px;
  }

  .header__contacts-item {
    margin-bottom: 5px;
  }
}

@include viewport--sm {
  .header__wrapper {
    padding: 11px 0;
  }

  .header__main-nav {
    order: -1;
    margin: 0;
  }

  .header__logo {
    margin-left: 38.7%;
  }

  .header__logo-svg {
    width: 37px;
    height: 23px;
  }

  .header__contacts {
    display: block;
    margin: 0;
    margin-top: -7px;
    margin-left: auto;
    margin-right: 0;
  }

  .header__contacts-list {
    flex-direction: row;
    margin-right: -14px;
  }

  .header__contacts-item {
    margin-right: 14px;

    &--phone {
      order: -1;
    }
  }
}
