.main-nav {
  position: relative;

  &__list {
    display: grid;
    grid-template-columns: max-content max-content max-content max-content;
    column-gap: size(42px);
    margin: 0;
    padding: 0;

    margin-top: size(48px);
    margin-left: 39px;

    list-style: none;

    @include vp-1439 {
      column-gap: 20px;
    }

    @include vp-1279 {
      margin-left: 0;
    }

    @include vp-1023 {
      column-gap: 0;
      display: flex;
      flex-direction: column;
    }
  }

  @include vp-1023 {
    display: none;
  }

  &--opened {
    @include vp-1023 {
      display: flex;
      flex-direction: column;
      position: fixed;
      right: 0;
      top: 0;
      width: 300px;
      height: 90vh;
      background-color: $color-default-white;
      animation: mobileMenuRotationOpen 0.5s;
      z-index: 100;
      border-radius: 5%;
      border-top-right-radius: 0;
      overflow-y: scroll;
      overflow-x: hidden;
    }
  }
}

.main-nav--opened .main-nav__list {
  @include vp-1023 {
    flex-direction: column;
  }
}

.main-nav__wrapper {
  @include vp-1023 {
    margin-left: 21px;
  }
}

.main-nav__item {
  display: flex;
  height: 100%;

  @include vp-1023 {
    margin-left: 0;
    margin-right: 0;
  }
}

.main-nav__link {
  font: inherit;
  font-size: size(19px);
  color: inherit;
  padding-bottom: 10px;
  letter-spacing: 0.06em;
  transition: color opacity $trans-default;

  &--active {
    position: relative;
    font-weight: 600;
    color: $color-lima;

    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 3px;
      left: 0;
      top: size(23px);
      background: $green-to-left;
      opacity: 0.7;
    }
  }

  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover,
    &:focus {
      transition: color opacity $trans-default;
      color: $color-lima;
      opacity: 0.7;
    }
  }

  &:active {
    opacity: 0.5;
  }

  &--shop {
    padding-bottom: 20px;

    @include vp-1023 {
      display: none;
      padding-bottom: 10px;
    }
  }
}

.main-nav__catalog-list {
  opacity: 0;
  transition: opacity $trans-default;

  position: absolute;
  list-style: none;
  top: -500px;
  z-index: -1;
  margin: 0;
  padding: 12px 0;
  background-color: $color-gin;
  color: $color-matterhorn;
  width: size(250px);
  box-shadow: 8px 5px 5px 2px rgba($color-nero, 0.2);

  &::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    left: 0;
    top: -20px;
    border: 20px solid transparent;
    border-bottom: 20px solid $color-gin;
    border-left: 20px solid $color-gin;
  }

  @include vp-1439 {
    left: 140px;
  }

  @include vp-1279 {
    left: 100px;
  }

  &--visible {
    display: block;
    opacity: 1;
    z-index: 41;
    left: size(164px);
    top: size(95px);

    &::after {
      content: "";
      position: absolute;
      width: 200px;
      height: 40px;
      background-color: transparent;
      top: -30px;
      left: 0;
      z-index: 100;

      @include vp-1023 {
        display: none;
      }
    }

    @include vp-1023 {
      display: none;
    }
  }

  &--mobile {
    display: none;

    @include vp-1023 {
      display: block;
      opacity: 1;
      background-color: transparent;
      position: static;
      box-shadow: none;
      padding-bottom: 50px;

      &::before {
        display: none;
      }
    }
  }
}

.main-nav__catalog-item {
  margin-left: 21px;
  padding-right: 21px;
  display: block;
  line-height: 1.2;
  position: relative;

  @include vp-1023 {
    width: 100%;
  }
}

.main-nav__catalog-link {
  display: inline-block;
  width: max-content;
  z-index: 3;
  letter-spacing: 0.04em;
  color: $color-matterhorn-shade;
  transition: color $trans-default;
  padding-top: 5px;
  padding-bottom: 5px;
  height: 100%;

  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover,
    &:focus {
      width: 100%;
      transition: color $trans-default;
      color: $color-lima;
      cursor: pointer;
      font-weight: 600;

      &::before {
        position: absolute;
        content: "";
        width: 2px;
        height: 100%;
        background: $mantis-to-top;
        top: 2px;
        right: -20px;
      }

      &::after {
        position: absolute;
        content: "";
        right: -15px;
        top: calc(50% - 8px);
        width: 12px;
        height: 18px;
        background: url("../img/sprite/icon-arrow-right-small.svg") no-repeat;
      }

      @include vp-1023 {
        &::before {
          display: none;
        }

        &::after {
          display: none;
        }
      }
    }
  }

  &--show {
    @include vp-1023 {
      position: relative;
      width: 100%;

      &::after {
        position: absolute;
        content: "";
        right: 35px;
        top: 6px;
        vertical-align: middle;
        width: 12px;
        height: 18px;
        background: url("../img/sprite/icon-arrow-right-small.svg") no-repeat;
        transform: rotate(90deg);
      }

      @media (hover: hover), screen and (min-width: 0\0) {
        &:hover,
        &:focus {
          &::after {
            display: inline;
            top: 6px;
            right: 35px;
            width: 12px;
            height: 18px;
            background: url("../img/sprite/icon-arrow-right-small.svg") no-repeat;
            transform: rotate(90deg);
          }
        }
      }
    }
  }

  &--hidden {
    @include vp-1023 {
      position: relative;
      width: 100%;

      &::after {
        position: absolute;
        content: "";
        right: 35px;
        top: 2px;
        vertical-align: middle;
        width: 12px;
        height: 18px;
        background: url("../img/sprite/icon-arrow-right-small.svg") no-repeat;
        transform: rotate(-90deg);
      }

      @media (hover: hover), screen and (min-width: 0\0) {
        &:hover,
        &:focus {
          &::after {
            display: inline;
            top: 2px;
            right: 35px;
            width: 12px;
            height: 18px;
            background: url("../img/sprite/icon-arrow-right-small.svg") no-repeat;
            transform: rotate(-90deg);
          }
        }
      }
    }
  }
}
