.main-nav__open {
  display: none;
}

.main-nav__overlay {
  display: none;
}

.main-nav__logo-mobile {
  display: none;
}

.main-nav__close {
  display: none;
}

.main-nav__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-right: -97px;
  padding: 0;

  list-style: none;
}

.main-nav__item {
  position: relative;

  margin-right: 97px;
}

.main-nav__link {
  display: block;
  padding: 5px;

  font-family: $font-family-proximanova;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: $color-default-black;

  &--active {
    font-weight: 900;
  }
}

.main-nav__second-level-wrapper {
  position: absolute;
  top: 100%;
  left: 50%;

  // display: none;
  // width: 241px;
  padding-top: 54px;

  transform: translateX(-50%);
  transition: opacity $default-transition-settings, width $default-transition-settings;

  width: 241px;
  height: 1px;
  margin: -1px;
  clip: rect(0 0 0 0);
  overflow: hidden;
  opacity: 0;
}

.main-nav__item:hover > .main-nav__second-level-wrapper,
.main-nav__second-level-wrapper--shown {
  width: 241px;
  height: auto;
  margin: 0;
  clip: auto;
  overflow: visible;
  opacity: 1;
}

.main-nav__item:hover > .main-nav__second-level-wrapper--third-level-active,
.main-nav__second-level-wrapper--third-level-active {
  width: 507px;

  .main-nav__second-level-list {
    padding-left: 55px;
    padding-right: 280px;
  }
}

.main-nav__second-level-list {
  position: relative;
  margin: 0;
  padding: 31px 37px 34px;

  background-color: $color-default-white;
  border-radius: 32px;
  box-shadow: 0 4px 4px $color-shadow;

  list-style: none;
  transition: padding $default-transition-settings;

  &::before {
    content: "";
    position: absolute;
    top: -28px;
    left: 50%;

    width: 92px;
    height: 36px;

    border-top: none;
    border-left: 46px solid transparent;
    border-right: 46px solid transparent;
    border-bottom: 36px solid $color-default-white;

    transform: translateX(-50%);
  }
}

.main-nav__second-level-item {
  display: flex;
  align-items: center;
  margin-bottom: 13px;
  padding: 0;

  &:last-child {
    margin-bottom: 0;
  }

  &--with-submenu {
    .main-nav__second-level-link {
      &::after {
        content: "";

        width: 4.9px;
        height: 8.8px;
        margin-left: 15px;

        border-right: none;
        border-top: 4.4px solid transparent;
        border-bottom: 4.4px solid transparent;
        border-left: 4.9px solid $color-myrtle;
      }
    }
  }

  &--active {
    .main-nav__third-level-list {
      width: 287px;
      height: auto;
      margin: 0;
      clip: auto;
      overflow: visible;
      opacity: 1;
    }
  }
}

.main-nav__second-level-link {
  display: flex;
  align-items: center;
  padding: 6px 5px;

  font-family: $font-family-proximanova;
  font-style: normal;
  font-weight: 900;
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;
  color: $color-default-black;
}

.main-nav__third-level-list {
  position: absolute;
  top: 0;
  right: 0;
  left: 220px;

  // margin: 0;
  padding: 0;
  padding-top: 31px;
  padding-left: 25px;
  padding-right: 37px;
  padding-bottom: 29px;

  list-style: none;
  transition: opacity $default-transition-settings;

  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0 0 0 0);
  overflow: hidden;
  opacity: 0;
}

.main-nav__third-level-item {
  display: flex;
  margin-bottom: 2px;

  &:last-child {
    margin-bottom: 0;
  }
}

.main-nav__third-level-link {
  padding: 5px;

  font-family: $font-family-proximanova;
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;
  color: $color-default-black;
}

@media (max-width: 1290px) {
  .main-nav__list {
    margin-right: -15px;
  }

  .main-nav__item {
    margin-right: 15px;
  }
}

@media (min-width: $viewport--md) {
  .main-nav__item:last-child{
    display: none;
  }
}

@include viewport--sm {
  .main-nav {
    &--mobile-active {
      .main-nav__overlay {
        display: block;

        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        background-color: $color-overlay;
      }

      .main-nav__wrapper {
        width: 60vw;
        min-width: 225px;
        height: auto;
        margin: 0;
        clip: auto;
        overflow: visible;
        opacity: 1;
      }
    }
  }

  .main-nav__open {
    display: block;
  }

  .main-nav__wrapper {
    position: absolute;
    top: 0;
    left: -39px;
    z-index: 10;

    // width: 225px;
    padding: 67px 40px 120px;
    padding-right: 15px;

    background-color: $color-default-white;
    box-shadow: 0 4px 4px $color-shadow;
    border-radius: 31px;

    transition: opacity $default-transition-settings;

    width: 1px;
    height: 1px;
    margin: -1px;
    clip: rect(0 0 0 0);
    overflow: hidden;
    opacity: 0;
  }

  .main-nav__close {
    position: absolute;
    top: 15px;
    left: 42px;

    display: block;
  }

  .main-nav__logo-mobile {
    position: absolute;
    top: 14px;
    right: 23px;

    display: block;
  }

  .main-nav__list {
    flex-direction: column;
    margin: 0;
    margin-bottom: -4px;
  }

  .main-nav__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    margin-bottom: 4px;

    &--mobile-last {
      order: 1;
    }
  }

  .main-nav__link {
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;

    color: $color-eclipse;

    &--active {
      font-weight: bold;
    }
  }

  .main-nav__second-level-wrapper,
  .main-nav__item:hover > .main-nav__second-level-wrapper {
    position: static;

    margin: 0;
    margin-top: 6px;
    padding: 0;

    transform: none;

    width: auto;
    height: auto;
    // margin: 0;
    clip: auto;
    overflow: visible;
    opacity: 1;
  }

  .main-nav__second-level-list {
    padding: 0;

    border-radius: 0;
    box-shadow: none;

    &::before {
      display: none;
    }
  }

  .main-nav__item:hover > .main-nav__second-level-wrapper--third-level-active,
  .main-nav__second-level-wrapper--third-level-active {
    width: auto;

    .main-nav__second-level-list {
      padding: 0;
    }
  }

  .main-nav__second-level-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    margin-bottom: 1px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .main-nav__second-level-link {
    padding: 3px 5px;

    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: $color-eclipse;
  }

  .main-nav__second-level-item--active {
    .main-nav__second-level-link {
      &::after {
        transform: rotate(90deg);
      }
    }

    .main-nav__third-level-list {
      position: static;

      width: auto;
      margin-top: 0;
      margin-bottom: 16px;
      padding: 0;
    }
  }

  .main-nav__third-level-item {
    margin-bottom: 1px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .main-nav__third-level-link {
    padding-top: 3px;
    padding-bottom: 3px;

    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    text-transform: uppercase;
    color: $color-eclipse;
  }

  .main-nav__item--mobile-last > .main-nav__link {
    display: none;
  }
}
