.partners {
  position: relative;
  background-color: $color-white-smoke;
}

.partners .container {
  position: relative;
  display: flex;
  min-height: 581px;
  height: calc(100vh - var(--headerHeight) - var(--footerHeight));
  height: calc(100 * var(--vh, 1vh) - var(--headerHeight) - var(--footerHeight));
  // min-height: calc(100 * var(--vh, 1vh));

  @include viewport--sm {
    min-height: 0;
    height: auto;
  }
}

.partners__background {
  position: fixed;
  z-index: 0;
  top: 0;
  right: 0;
  width: var(--backgroundPartnersWidth);
  height: 100vh;
  background-color: $color-wild-willow;

  @include viewport--sm {
    display: none;
  }
}

.partners__list-and-buttons {
  position: relative;
  z-index: 2;

  display: flex;
  flex-direction: column;
  // height: 581px;
  height: auto;
  width: 520px;
  max-width: 50%;
}

.partners__main-buttons {
  display: flex;
}

.partners__main-button {
  padding: 30px;

  font-family: $font-family-proximanova;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  color: $color-default-white;

  background-color: $color-wild-willow;

  &:focus {
    outline: none;
  }
}

.partners__all-dealers-btn {
  width: 100%;

  font-weight: 900;
}

.partners__map-btn {
  display: none;
}

.partners__list {
  height: auto;

  overflow: auto;
}

.partners__map {
  position: relative;
  z-index: 1;

  // height: 581px;
  flex-grow: 1;

  background-color: $color-comet;
  background-image: url("../img/bg/map.jpg");
  background-size: cover;
}

@include viewport--sm {
  .partners__list-and-buttons {
    display: block;
    max-width: none;
    width: 100%;
    height: auto;
  }

  .partners__main-button {
    width: 50%;
    padding: 18px;

    font-weight: 600;
    font-size: 14px;
    line-height: 137.19%;

    &--active {
      font-weight: 900;
    }
  }

  .partners__map-btn {
    display: block;
  }

  .partners__list {
    // display: none;
    position: relative;
    // top: var(--fixedTop);
    // left: 0;
    // right: 0;
    // bottom: var(--footerHeight);

    height: calc(100vh - var(--fixedTop) - var(--footerHeight));
    height: calc(100 * var(--vh, 1vh) - var(--fixedTop) - var(--footerHeight));
  }

  .partners__map {
    // display: none;
    position: absolute;
    top: var(--buttonsHeight);
    left: 0;
    right: 0;

    // height: auto;
    height: calc(100vh - var(--fixedTop) - var(--footerHeight));
    height: calc(100 * var(--vh, 1vh) - var(--fixedTop) - var(--footerHeight));

    &--mobile-shown {
      z-index: 3;
    }
  }
}
