.price-list .container {
  width: size(1201px);
  padding-top: 1px;
  padding-bottom: size(50px);
  color: #666666;
  background: $color-gin;

  @include vp-1919 {
    width: 1201px;
  }

  @include vp-1279 {
    width: 100%;
  }

  @include vp-1023 {
    width: 100vw;
  }
}

.price-list h2 {
  font-size: 44px;
  text-align: center;
}

.image-wrapper {
  padding: 0;
  width: 100%;
  height: size(300px);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
