.video-container {
  width: size(814px);
  height: size(457px);
  position: relative;

  @include vp-1919 {
    max-width: 814px;
    height: 457px;
  }

  @include vp-1279 {
    max-width: 68%;
    width: 100%;
  }

  @include vp-1023 {
    max-width: 100%;
  }

  @include vp-767 {
    display: none;
  }

  background-color: $color-nero;
}

.video__player {
  opacity: 0;
  width: 100%;
  display: block;

  @include vp-1279 {
    width: 100%;
    object-fit: cover;
    height: 100%;
  }
}

.visible {
  opacity: 1;
}

.video__loader {
  position: absolute;
  left: 50%;
  top: 50%;
  width: size(180px);
  height: size(180px);
  margin: size(-40px) 0 0 size(-40px);
  //border: 10px solid $color-gin;
  //border-radius: 50%;
  //border-top: 10px solid $color-olivine;
  //border-bottom: 10px solid $color-olivine;
  //animation: circleRotation 2s linear infinite;
  z-index: 10;

  &--hidden {
    display: none;
  }
}

.video__overlay {
  //height: 100%;
  //width: 100%;
  position: absolute;
  z-index: 2;

  &.hidden {
    display: none;
  }

  & .speaker {
    margin: 8px;
    stroke: $color-ottoman;
    fill: $color-lima;
    cursor: pointer;

    &.hidden {
      display: none;
    }
  }
}
