-
  const mainSlides = [
    {
      path: "content/delivery/slider",
      image: "1",
      format: "jpg",
      width: "387",
      height: "457",
      alt: "Первый слайд"
    },
    {
      path: "content/delivery/slider",
      image: "2",
      format: "jpg",
      width: "387",
      height: "457",
      alt: "Второй слайд"
    },
    {
      path: "content/delivery/slider",
      image: "3",
      format: "jpg",
      width: "387",
      height: "457",
      alt: "Третий слайд"
    },
    {
      path: "content/delivery/slider",
      image: "4",
      format: "jpg",
      width: "387",
      height: "457",
      alt: "Четвертый слайд"
    },
    {
      path: "content/delivery/slider",
      image: "5",
      format: "jpg",
      width: "387",
      height: "457",
      alt: "Пятый слайд"
    },
  ];

mixin main-page-swiper
  +global-slider(mainSlides)
