-
  const mainSlides = [
    {
      path: "content/slider",
      image: "3",
      format: "jpg",
      width: "387",
      height: "457",
      alt: "Первый слайд"
    },
    {
      path: "content/slider",
      image: "5",
      format: "jpg",
      width: "387",
      height: "457",
      alt: "Второй слайд"
    },
    {
      path: "content/slider",
      image: "13",
      format: "jpg",
      width: "387",
      height: "457",
      alt: "Третий слайд"
    }
  ];

mixin main-page-swiper
  +global-slider(mainSlides)
