mixin video()
  .video-container
    .video__loader
      +icon("logo-circle", "62px", "64px").header__logo-circle.logo
    .video__overlay.hidden
      +icon("speaker-wave", "18px", "18px").speaker.on
      +icon("speaker-x-mark", "18px", "18px").speaker.off.hidden
