.container {
  width: 100%;
  max-width: 1400px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 80px;

  @include viewport--md {
    padding: 0 40px;
  }

  @include viewport--sm {
    padding: 0 20px;
  }

  &--no-padding {
    padding: 0;
  }
}
