include ../mixins/basic/sprite
include ../components/contact-link

mixin footer(footerMod, currentPage)
  footer(class= (footerMod) ? "footer footer--" + footerMod : "footer")
    .container
      .footer__wrapper
        if(currentPage === "main")
          a.footer__logo(aria-label="Логотип")
            +icon("logo", 55, 34)
        else
          a.footer__logo(href="/", aria-label="Переход на главную")
            +icon("logo", 55, 34)
        .footer__contacts
          +contact-link("mail", "mail@neo-disk.ru")
          +contact-link("phone", "8-495-994-27-39")
