include ../components/contact-link

mixin header(headerMod, currentPage)
  -
    var mainNavItems = [
      {
        href: "main.html",
        text: "главная",
        page: "main"
      },
      {
        href: "#",
        text: "каталог",
        page: "catalog",
        mod: "mobile-last",
        submenu: [
          {
            href: "#",
            text: "дисковые щетки",
            submenu: [
              {
                href: "disc-brushes.html",
                text: "дисковые щетки с обжимным металлическим кольцом",
              },
              {
                href: "spaceless-curved-profile-disc-brushes.html",
                text: "беспроставочные дисковые щетки прямого профиля",
              },
              {
                href: "spaceless-straight-profile-disc-brushes.html",
                text: "беспроставочные дисковые щетки гнутого профиля типа «Би-лайн»",
              },
              {
                href: "spaceless-be-line-profile-disc-brushes.html",
                text: "беспроставочные дисковые щетки гнутого профиля с обжимным металлическим кольцом",
              },

              //- {
              //-   href: "#",
              //-   text: "дисковые щетки с обжимным металлическим кольцом",
              //- },
              //- {
              //-   href: "#",
              //-   text: "беспроставочные дисковые щетки прямого профиля",
              //- },
              //- {
              //-   href: "#",
              //-   text: "беспроставочные дисковые щетки гнутого профиля типа «Би-лайн»",
              //- },
              //- {
              //-   href: "#",
              //-   text: "беспроставочные дисковые щетки гнутого профиля с обжимным металлическим кольцом",
              //- }
            ]
          },
          {
            href: "trough-brushes.html",
            text: "лотковые щетки",
          },
          {
            href: "tupsy.html",
            text: "тупсы",
            //- submenu: [
            //-   {
            //-     href: "#",
            //-     text: "link"
            //-   }
            //- ]
          },
          {
            href: "spacer-rings.html",
            text: "проставочные кольца"
          },
          {
            href: "polypropylene-pile.html",
            text: "полипиптидный ворс"
          },
          {
            href: "steel-tackle.html",
            text: "стальной подкат"
          },
          {
            href: "polyamide-brush.html",
            text: "полиамидная щетка"
          }
        ]
      },
      {
        href: "partners.html",
        text: "партнеры",
        page: "partners"
      }
    ]

  header(class=(headerMod) ? "header header--" + headerMod : "header")
    .container
      .header__wrapper
        if(currentPage === "main")
          a.header__logo
            +icon("logo", 77, 48)(class="header__logo-svg")
        else
          a.header__logo(href="main.html", aria-label="Переход на главную")
            +icon("logo", 77, 48)(class="header__logo-svg")
        nav.header__main-nav.main-nav
          button.main-nav__open.btn-reset(type="button", aria-label="Открыть меню")
            +icon("burger", 21, 16)
          .main-nav__overlay
          .main-nav__wrapper
            button.main-nav__close.btn-reset(type="button", aria-label="Закрыть меню")
              +icon("icon-close", 16, 16)
            if(currentPage === "main")
              a.main-nav__logo-mobile
                +icon("logo", 37, 23)(class="header__logo-svg")
            else
              a.main-nav__logo-mobile(href="main.html", aria-label="Переход на главную")
                +icon("logo", 37, 23)(class="header__logo-svg")
            ul.main-nav__list
              each item in mainNavItems
                li(class=(item.mod) ? "main-nav__item main-nav__item--" + item.mod : "main-nav__item")
                  if(item.page === currentPage)
                    a.main-nav__link.main-nav__link--active=item.text
                  else
                    a.main-nav__link(href=item.href)=item.text
                  if(item.submenu)
                    .main-nav__second-level-wrapper
                      ul.main-nav__second-level-list
                        each secondLevelItem in item.submenu
                          li.main-nav__second-level-item(class=(secondLevelItem.submenu) ? "main-nav__second-level-item--with-submenu" : "")
                            a.main-nav__second-level-link(href=secondLevelItem.href)=secondLevelItem.text
                            if(secondLevelItem.submenu)
                              ul.main-nav__third-level-list
                                each thirdLevelItem in secondLevelItem.submenu
                                  li.main-nav__third-level-item
                                    a.main-nav__third-level-link(href=thirdLevelItem.href)=thirdLevelItem.text
        .header__contacts
          ul.header__contacts-list
            li.header__contacts-item
              //- a.header__email(href="mailto:russia@klokljjl.com ") russia@klokljjl.com
              +contact-link("mail", "russia@klokljjl.com", "header")
            li.header__contacts-item
              //- a.header__phone(href="tel:88005353535") 8 800 535 35 35
              +contact-link("phone", "8 800 535 35 35", "header")
