include ../base/mixins
include ../base/header
include ../base/footer
include ../base/modal

block data
block variables

doctype html
html(lang="ru")
  head
    title= title
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="description", content="Project Name - описание")
    //- генерируйте favicon тут - https://realfavicongenerator.net/
    //- в подключение фавикон манифеста обязательно добавьте строчки crossorigin="use-credentials"
    link(rel="apple-touch-icon" sizes="180x180" href="img/fav/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="img/fav/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="img/fav/favicon-16x16.png")
    link(rel="manifest" href="img/fav/site.webmanifest" crossorigin="use-credentials")
    link(rel="mask-icon" href="img/fav/safari-pinned-tab.svg" color="#5bbad5")
    meta(name="msapplication-TileColor" content="#da532c")
    meta(name="theme-color" content="#ffffff")

    //- используйте только для шрифта находящегося на первом экране
    //- link(rel="preload", href="fonts/placeholder.woff2", as="font", crossorigin="anonymous")
    link(rel="stylesheet", href="css/style.min.css")

  body
    +sprite()
    div(class=(wrapperMod) ? "wrapper wrapper--" + wrapperMod : "wrapper")
      if (hasHeader)
        +header(headerMod, currentPage)

      block main

      if (hasFooter)
        +footer(footerMod, currentPage)

    block modals

    block scripts
