-
  const advantagesList = [
    {
      iconName: "advantage-crude",
      iconWidth: "90",
      iconHeight: "90",
      text: "Высоко&shy;качественное сырье"
    },
    {
      iconName: "advantage-personal",
      iconWidth: "78",
      iconHeight: "78",
      text: "Ответственный персонал"
    },
    {
      iconName: "advantage-equipment",
      iconWidth: "65",
      iconHeight: "88",
      text: "Современное оборудование"
    },
    {
      iconName: "advantage-technologies",
      iconWidth: "82",
      iconHeight: "82",
      text: "Проверенные технологии"
    },
    {
      iconName: "advantage-management",
      iconWidth: "75",
      iconHeight: "75",
      text: "Эффективные методы управления"
    }
  ]
