-
  var partnersData = [
    {
      title: "ООО «ПКФ КОНТУР»",
      address: "105523, г.&nbsp;Москва, ш.&nbsp;Щёлковское, д.&nbsp;100, корп.&nbsp;106, антресоль&nbsp;1, помещение&nbsp;V, комната&nbsp;2",
      xCoordinate: 55.76,
      yCoordinate: 37.64,
      moreDetails: {
        logo: "img/content/logo-contur.png",
        //- logoName: "logo-kontur",
        //- logoFormat: "png",
        //- moreDetailsTitle: "ПКФ Контур",
        contacts: {
          phone: "+7 (499) 769-57-24",
          email: "bossandru@yandex.ru"
        }
      }
    },
    {
      title: "ООО «Сателлит»",
      address: "105275, г.&nbsp;Москва, ул.&nbsp;Уткина, д.48, стр.1, эт.&nbsp;2, офис&nbsp;1-221",
      xCoordinate: 55.77,
      yCoordinate: 37.64,
      moreDetails: {
        logo: "img/content/logo-satellit.png",
        //- logoName: "logo-kontur",
        //- logoFormat: "png",
        //- moreDetailsTitle: "Сателлит",
        contacts: {
          phone: "+7 (499) 769-57-24",
          email: "bossandru@yandex.ru"
        }
      }
    },
    {
      title: "ООО «ДоРЭс»",
      address: "123007, г.&nbsp;Москва, ул.&nbsp;1-я&nbsp;Магистральная, д.&nbsp;16, строение&nbsp;1, этаж&nbsp;3, комната&nbsp;14",
      xCoordinate: 55.75,
      yCoordinate: 37.64,
      moreDetails: {
        logo: "img/content/logo-dores.png",
        //- logoName: "logo-kontur",
        //- logoFormat: "png",
        //- moreDetailsTitle: "ДоРЭс",
        contacts: {
          phone: "+7 (499) 769-57-24",
          email: "bossandru@yandex.ru"
        }
      }
    },
    {
      title: "АО «Коминвест-АКМТ»",
      address: "101990, г.&nbsp;Москва, ул.&nbsp;Маросейка, д.&nbsp;17/6, ком.&nbsp;208",
      xCoordinate: 55.76,
      yCoordinate: 37.65,
      moreDetails: {
        logo: "img/content/logo-cominvest.png",
        //- logoName: "logo-kontur",
        //- logoFormat: "png",
        //- moreDetailsTitle: "Коминвест-АКМТ",
        contacts: {
          phone: "+7 (499) 769-57-24",
          email: "bossandru@yandex.ru"
        }
      }
    },
    {
      title: "ОАО «АМКОДОР»",
      address: "101990, г.&nbsp;Москва, ул.&nbsp;Маросейка, д.&nbsp;17/6, ком.&nbsp;208",
      xCoordinate: 55.76,
      yCoordinate: 37.63,
      moreDetails: {
        logo: "img/content/logo-amkodor.png",
        //- logoName: "logo-kontur",
        //- logoFormat: "png",
        //- moreDetailsTitle: "АМКОДОР",
        contacts: {
          phone: "+7 (499) 769-57-24",
          email: "bossandru@yandex.ru"
        }
      }
    },
  ]
