-
  var partnersData = [
    {
      title: "ООО «ПКФ КОНТУР»",
      address: "105523, г.&nbsp;Москва, ш.&nbsp;Щёлковское, д.&nbsp;100, корп.&nbsp;106, антресоль&nbsp;1, помещение&nbsp;V, комната&nbsp;2",
      xCoordinate: 55.76,
      yCoordinate: 37.64,
      moreDetails: {
        logo: "img/content/logo-contur.png",
        //- logoName: "logo-kontur",
        //- logoFormat: "png",
        //- moreDetailsTitle: "ПКФ Контур",
        contacts: {
          phone: "+7 (499) 769-57-24",
          email: "bossandru@yandex.ru"
        }
      }
    },
    {
      title: "ООО «Сателлит»",
      address: "105275, г.&nbsp;Москва, ул.&nbsp;Уткина, д.48, стр.1, эт.&nbsp;2, офис&nbsp;1-221",
      xCoordinate: 55.77,
      yCoordinate: 37.64,
      moreDetails: {
        logo: "img/content/logo-satellit.png",
        contacts: {
          phone: "+7 (926) 880-27-67",
          email: "zkrabota495@gmail.com"
        }
      }
    },
    {
      title: "ООО «ДоРЭс»",
      address: "123007, г.&nbsp;Москва, ул.&nbsp;1-я&nbsp;Магистральная, д.&nbsp;16, строение&nbsp;1, этаж&nbsp;3, комната&nbsp;14",
      xCoordinate: 55.75,
      yCoordinate: 37.64,
      moreDetails: {
        logo: "img/content/logo-dores.png",
        contacts: {
          phone: "+7 (925) 552-92-00",
          email: "maksim@autozap.shop"
        }
      }
    },
    {
      title: "АО «Коминвест-АКМТ»",
      address: "107023, г.&nbsp;Москва, ул.&nbsp;Семеновская, д.&nbsp;3А, строение 1",
      xCoordinate: 55.76,
      yCoordinate: 37.65,
      moreDetails: {
        logo: "img/content/logo-cominvest.png",
        contacts: {
          phone: "+ 7 (495) 212 2122",
          email: "info@cominvest-akmt.ru"
        }
      }
    },
    {
      title: "ОАО «АМКОДОР»",
      address: "101990, г.&nbsp;Москва, ул.&nbsp;Маросейка, д.&nbsp;17/6, ком.&nbsp;208",
      xCoordinate: 55.76,
      yCoordinate: 37.63,
      moreDetails: {
        logo: "img/content/logo-amkodor.png",
        contacts: {
          phone: "+7 (915) 439 19 19 ",
          email: "amkodor-moskva@mail.ru"
        }
      }
    },
    {
      title: "ООО «Авто-Альянс»",
      address: "105082, г.&nbsp;Москва, ул.&nbsp;Большая Почтовая, д.&nbsp;26В, стр.&nbsp;1, ком.&nbsp;502-1",
      xCoordinate: 55.76,
      yCoordinate: 37.63,
      moreDetails: {
        logo: "img/content/logo-autoalyans.png",
        contacts: {
          phone: "+ 7 (495) 660-51-64",
          email: "Zakaz@AutoOpt.ru"
        }
      }
    },
    {
      title: "ООО «Меркатор Калуга»",
      address: "248033, Калужская область, г.&nbsp;Калуга, ул.&nbsp;Энергетиков, д.&nbsp;2",
      xCoordinate: 55.76,
      yCoordinate: 37.63,
      moreDetails: {
        logo: "img/content/logo-merkator.png",
        contacts: {
          phone: "+7 (4842) 20-01-63",
          email: "kaluga@merkatorgroup.ru"
        }
      }
    }
  ]
