-
  var partnersData = [
    {
      title: "ООО «ПКФ КОНТУР»",
      address: "105523, г.&nbsp;Москва, ш.&nbsp;Щёлковское, д.&nbsp;100, корп.&nbsp;106",
      xCoordinate: 55.809160,
      yCoordinate: 37.832252,
      moreDetails: {
        logo: "img/content/logo-contur.png",
        //- logoName: "logo-kontur",
        //- logoFormat: "png",
        //- moreDetailsTitle: "ПКФ Контур",
        contacts: {
          phone: "+7 (499) 769-57-24",
          email: "bossandru@yandex.ru"
        }
      }
    },
    {
      title: "ООО «Сателлит»",
      address: "105275, г.&nbsp;Москва, ул.&nbsp;Уткина, д.48, стр.2",
      xCoordinate: 55.759030,
      yCoordinate: 37.744621,
      moreDetails: {
        logo: "img/content/logo-satellit.png",
        contacts: {
          phone: "+7 (926) 880-27-67",
          email: "zkrabota495@gmail.com"
        }
      }
    },
    {
      title: "ООО «ДоРЭс»",
      address: "123007, г.&nbsp;Москва, ул.&nbsp;1-я&nbsp;Магистральная, д.&nbsp;16, строение&nbsp;1",
      xCoordinate: 55.770821,
      yCoordinate: 37.520797,
      moreDetails: {
        logo: "img/content/logo-dores.png",
        contacts: {
          phone: "+7 (925) 552-92-00",
          email: "maksim@autozap.shop"
        }
      }
    },
    {
      title: "АО «Коминвест-АКМТ»",
      address: "125315, г.&nbsp;Москва, Ленинградский проспект, д.&nbsp;80, корп.&nbsp;17",
      xCoordinate: 55.808004,
      yCoordinate: 37.511490,
      moreDetails: {
        logo: "img/content/logo-cominvest.png",
        contacts: {
          phone: "+ 7 (495) 212 2122",
          email: "info@cominvest-akmt.ru"
        }
      }
    },
    {
      title: "ООО «АМКО»",
      address: "123458, г.&nbsp;Москва, ул.&nbsp;Маршала Прошлякова, д.&nbsp;5, корп.&nbsp;4",
      xCoordinate: 55.786465,
      yCoordinate: 37.393424,
      moreDetails: {
        logo: "img/content/logo-amkodor.png",
        contacts: {
          phone: "+7 (915) 439 19 19 ",
          email: "amkodor-moskva@mail.ru"
        }
      }
    },
    {
      title: "ООО «Авто-Альянс»",
      address: "105082, г.&nbsp;Москва, ул.&nbsp;Большая Почтовая, д.&nbsp;26В, стр.&nbsp;1",
      xCoordinate: 55.778441,
      yCoordinate: 37.698636,
      moreDetails: {
        logo: "img/content/logo-autoalyans.png",
        contacts: {
          phone: "+ 7 (495) 660-51-64",
          email: "Zakaz@AutoOpt.ru"
        }
      }
    },
    {
      title: "ООО «Меркатор Калуга»",
      address: "248033, Калужская область, г.&nbsp;Калуга, ул.&nbsp;Энергетиков, д.&nbsp;2",
      xCoordinate: 54.478911,
      yCoordinate: 36.230079,
      moreDetails: {
        logo: "img/content/logo-merkator.png",
        contacts: {
          phone: "+7 (4842) 20-01-63",
          email: "kaluga@merkatorgroup.ru"
        }
      }
    }
  ]
