-
  const productsList = [
    {
      imageName: "products-disk",
      imageWidth: "356",
      imageHeight: "303",
      imageAlt: "Дисковые щетки",
      title: "дисковые щетки",
      href: "#",
      menu: [
        {href: "disc-brushes.html", title: "дисковые щетки с обжимным металлическим кольцом"},
        {href: "spaceless-curved-profile-disc-brushes.html", title: "беспроставочные дисковые щетки  прямого профиля"},
        {href: "spaceless-straight-profile-disc-brushes.html", title: "беспроставочные дисковые щетки  гнутого профиля типа «Би-лайн»"},
        {href: "spaceless-be-line-profile-disc-brushes.html", title: "беспроставочные дисковые щетки  гнутого профиля с обжимным металлическим кольцом"}
      ]
    },
    {
      imageName: "products-tray",
      imageWidth: "356",
      imageHeight: "303",
      imageAlt: "Лотковые щетки",
      title: "лотковые щетки",
      href: "trough-brushes.html",
    },
    {
      imageName: "products-tupes",
      imageWidth: "356",
      imageHeight: "303",
      imageAlt: "Тупсы",
      title: "тупсы",
      href: "tupsy.html"
    },
    {
      imageName: "products-spacer-rings",
      imageWidth: "356",
      imageHeight: "303",
      imageAlt: "Проставочные кольца",
      title: "проставочные кольца",
      href: "spacer-rings.html"
    },
    {
      imageName: "products-pp-pile",
      imageWidth: "356",
      imageHeight: "303",
      imageAlt: "Полипропиленовый ворс",
      title: "полипропиленовый ворс",
      href: "polypropylene-pile.html"
    },
    {
      imageName: "products-steel-tackle",
      imageWidth: "356",
      imageHeight: "303",
      imageAlt: "Cтальной подкат",
      title: "стальной подкат",
      href: "steel-tackle.html"
    },
    {
      imageName: "products-polyamide-brush",
      imageWidth: "356",
      imageHeight: "303",
      imageAlt: "Полиамидная щетка",
      title: "полиамидная щетка",
      href: "polyamide-brush.html",
    }
  ]
