-
  const promoData = [
    {
      title: "нэодиск",
      description: "",
      imageName: "slider-disk",
      imageWidth: "475",
      imageHeight: "464",
      imageAlt: "Изображение диска"
    },
    {
      title: "нэодиск",
      description: "",
      fullImage: "false",
      whiteColor: "true",
      imageName: "slider-yellow-cylinders",
      imageWidth: "837",
      imageHeight: "600",
      imageAlt: "Изображение оборудования"
    },
    // {
    //   title: "нэодиск",
    //   description: "",
    //   fullImage: "true",
    //   whiteColor: "true",
    //   imageName: "slider-green-blue-equipment",
    //   imageWidth: "1400",
    //   imageHeight: "600",
    //   imageAlt: "Изображение оборудования"
    // },
    // {
    //   title: "нэодиск",
    //   description: "",
    //   fullImage: "true",
    //   whiteColor: "true",
    //   imageName: "slider-green-brushes",
    //   imageWidth: "1400",
    //   imageHeight: "600",
    //   imageAlt: "Изображение продукции"
    // },
    {
      title: "нэодиск",
      description: "",
      fullImage: "true",
      whiteColor: "true",
      imageName: "slider-equipment",
      imageWidth: "1400",
      imageHeight: "409",
      imageAlt: "Изображение оборудования"
    },
    {
      title: "нэодиск",
      description: "",
      fullImage: "true",
      whiteColor: "true",
      imageName: "slider-baskets",
      imageWidth: "1400",
      imageHeight: "600",
      imageAlt: "Изображение продукции"
    }
  ]
