.product-card {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  outline: none;

  @include viewport--sm {
    z-index: 5;
  }
}

.product-card__shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background: $color-night-rider;
  opacity: 0.5;
  border-radius: 30px;

  @include viewport--md {
    border-radius: 20px;
  }

  @media (max-width: 480px) {
    border-radius: 10px;
  }
}

.product-card__image {
  transition: transform 0.3s ease;
  border-radius: 30px;
  overflow: hidden;

  @include viewport--md {
    border-radius: 20px;
  }

  @media (max-width: 480px) {
    border-radius: 10px;
  }
}

.product-card__image img {
  width: 100%;
  height: 295px;
  max-height: 295px;
  object-fit: cover;

  @include viewport--md {
    height: 245px;
    max-height: 245px;
  }

  @include viewport--sm {
    height: 170px;
    max-height: 170px;
  }

  @media (max-width: 480px) {
    height: 96px;
    max-height: 96px;
  }
}

.product-card h3 {
  position: absolute;
  top: 30px;
  right: 13%;
  width: 80%;
  max-width: 215px;
  margin: 0;
  font-family: $font-family-proximanova;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  text-align: right;
  color: $color-default-white;
  word-wrap: break-word;

  @media (max-width: 1130px) {
    right: 5%;
    width: 90%;
  }

  @include viewport--md {
    font-size: 13px;
    line-height: 16px;
  }

  @include viewport--sm {
    top: 76%;
    right: 0;
    width: 100%;
    max-width: 100%;
    padding: 0 8px;
    text-align: center;
  }

  @media (max-width: 480px) {
    padding: 0 3px;
    font-size: 8px;
    line-height: 10px;
  }
}

.product-card__choose {
  position: absolute;
  bottom: 29px;
  right: 13%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 60px;
  height: 60px;
  border: 5px solid $color-default-white;
  border-radius: 30px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  transition: transform 0.3s ease;

  @include viewport--md {
    min-width: 46px;
    height: 43px;
    border: 4px solid $color-default-white;
  }

  @include viewport--sm {
    bottom: 50%;
    right: 50%;
    transform: translate(50%, 50%);
  }

  @media (max-width: 480px) {
    min-width: 32px;
    height: 30px;
    border: 3px solid $color-default-white;
  }
}

.product-card__choose-text {
  display: none;
  padding-left: 24px;
  padding-right: 90px;
  font-family: $font-family-proximanova;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 60px;
  text-transform: uppercase;
  text-align: center;
  color: $color-default-white;

  @include viewport--md {
    font-size: 13px;
    line-height: 16px;
    padding-right: 50px;
  }

  @include viewport--sm {
    padding-left: 9px;
    padding-right: 30px;
  }

  @media (max-width: 480px) {
    font-size: 8px;
    line-height: 10px;
  }
}

.product-card__choose svg {
  position: absolute;
  right: 16px;

  @include viewport--md {
    right: 10px;
  }

  @include viewport--sm {
    width: 10px;
    height: 16px;
  }
}

.product-card__menu {
  display: none;
  position: absolute;
  z-index: 7;
  bottom: 20px;
  transform: translate(100%, 100%);
  right: calc(60% + 13%);
  width: 153%;
  height: auto;
  list-style: none;
  margin: 0;
  box-sizing: border-box;
  padding: 25px 40px 9px 21px;
  background-color: $color-default-white;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 18px;
  transition: all 0.3s ease;

  @include viewport--md {
    width: 165%;
    padding: 20px;
  }

  @include viewport--sm {
    bottom: 0;
    right: 85%;
    width: 160%;
    padding: 10px;
  }
}

.products__item:nth-child(2n) .product-card__menu {
  right: 13%;
  transform: translate(0, 100%);
}

.product-card__menu-item {
  margin: 0 0 9px;
}

.product-card__menu-link {
  position: relative;
  display: block;
  padding: 5px 5px 5px 28px;
  font-family: $font-family-proximanova;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
  color: $color-default-black;

  @include viewport--md {
    padding-left: 18px;
    font-size: 11px;
    line-height: 14px;
  }

  @include viewport--sm {
    margin: 0 0 8px;
    padding-left: 10px;
    font-size: 9px;
    line-height: 11px;
  }

  &:hover svg,
  &:focus svg {
    display: block;
  }
}

.product-card__menu-item:last-child .product-card__menu-link {
  margin-bottom: 0;
}

.product-card__menu-link svg {
  display: none;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 5px;
  height: 9px;
}

.product-card:hover,
.product-card:focus-within {
  z-index: 6;
  cursor: pointer;

  .product-card__image {
    transform: scale(1.264, 1.264);

    @include viewport--md {
      transform: scale(1.21, 1.21);
    }

    @include viewport--sm {
      transform: scale(1.15, 1.15);
    }
  }

  .product-card__shadow {
    display: none;
  }

  .product-card__choose-text {
    display: block;
  }

  .product-card__menu {
    display: block;
  }
}
