-
  const polypropylenePileSliderData = [
    {
      path: "productPage/polypropylene-pile",
      image: "1",
      format: "jpg",
      width: "1500",
      height: "1000",
      alt: "Cлайд"
    },
    {
      path: "productPage/polypropylene-pile",
      image: "2",
      format: "jpg",
      width: "1500",
      height: "1000",
      alt: "Cлайд"
    },
    {
      path: "productPage/polypropylene-pile",
      image: "3",
      format: "jpg",
      width: "1500",
      height: "1000",
      alt: "Cлайд"
    },
    {
      path: "productPage/polypropylene-pile",
      image: "4",
      format: "jpg",
      width: "1500",
      height: "1000",
      alt: "Cлайд"
    },
  ];
