-
  const polypropylenePileSliderData = [
    {
      path: "content/slider/",
      image: "8",
      format: "jpg",
      width: "1500",
      height: "1000",
      alt: "Cлайд"
    },
    {
      path: "content/slider/",
      image: "7",
      format: "jpg",
      width: "1500",
      height: "1000",
      alt: "Cлайд"
    },
  ];
