-
   const segmetsPriceListData = [
           [
            "№ п.п.",
            "Наименовнаие",
            "Каталожный номер (артикул) ",
            "Ед. изм.",
            "Цена"
          ],
          [
          "1",
          "Сегмент щетки центральной",
          "5214-300840",
          "шт.",
          "4 338  "
          ],
          [
          "2",
          "Сегмент щетки центральной",
          "5217-300840",
          "шт.",
          "2 684  "
          ],
          [
          "3",
          "Сегмент щетки центральной",
          "141914-120550",
          "шт.",
          "342  "
          ],
          [
          "4",
          "Сегмент щетки центральной",
          "141914- 078350",
          "шт.",
          "190  "
          ],
          [
          "5",
          "Сегмент щетки центральной",
          "1419-254810-01",
          "шт.",
          "693  "
          ],
          [
          "6",
          "Сегмент щетки центральной",
          "1419-120700-01",
          "шт.",
          "457  "
          ],
          [
          "7",
          "Сегмент щетки центральной",
          "1419-120600-01",
          "шт.",
          "457  "
          ],
          [
          "8",
          "Сегмент щетки центральной",
          "1419-110400-01",
          "шт.",
          "277  "
          ],
          [
          "9",
          "Сегмент щетки центральной",
          "1419-120450-01",
          "шт.",
          "289  "
          ],
          [
          "10",
          "Сегмент щетки центральной",
          "1419-254800-01",
          "шт.",
          "693  "
          ],
          [
          "11",
          "Сегмент щетки центральной",
          "1419-110450-01",
          "шт.",
          "277  "
          ],
          [
          "12",
          "Сегмент щетки центральной",
          "1419-078320-01",
          "шт.",
          "219  "
          ],
          [
          "13",
          "Сегмент щетки центральной",
          "1419-130550-01",
          "шт.",
          "278  "
          ],
          [
          "14",
          "Сегмент щетки центральной",
          "1419-254600-01",
          "шт.",
          "566  "
          ],
          [
          "15",
          "Сегмент щетки центральной",
          "1419-078280-01",
          "шт.",
          "219  "
          ],
          [
          "16",
          "Сегмент щетки центральной",
          "141914-254600",
          "шт.",
          "546  "
          ],
          [
          "17",
          "Сегмент щетки центральной",
          "141914-254810",
          "шт.",
          "719  "
          ],
          [
          "18",
          "Сегмент щетки центральной",
          "141914-120600",
          "шт.",
          "342  "
          ],
          [
          "19",
          "Сегмент щетки центральной",
          "141914-254550",
          "шт.",
          "539  "
          ],
          [
          "20",
          "Сегмент щетки центральной",
          "1419-078400-01",
          "шт.",
          "219  "
          ],
          [
          "21",
          "Сегмент щетки центральной",
          "141914-220900",
          "шт.",
          "1 030  "
          ],
          [
          "22",
          "Сегмент щетки центральной",
          "1419-254900-01",
          "шт.",
          "792  "
          ],
          [
          "23",
          "Сегмент щетки центральной",
          "1419-180800-01",
          "шт.",
          "477  "
          ],
          [
          "24",
          "Сегмент щетки центральной",
          "1419-078350-01",
          "шт.",
          "219  "
          ],
          [
          "25",
          "Сегмент щетки центральной",
          "1419-101300-01",
          "шт.",
          "235  "
          ],
          [
          "26",
          "Сегмент щетки центральной",
          "1419-164550-01",
          "шт.",
          "316  "
          ],
          [
          "27",
          "Сегмент щетки центральной",
          "1419-180600-01",
          "шт.",
          "459  "
          ],
          [
          "28",
          "Сегмент щетки центральной",
          "1419-180900-01",
          "шт.",
          "477  "
          ],
          [
          "29",
          "Сегмент щетки центральной",
          "141914-254900",
          "шт.",
          "900  "
          ],
          [
          "30",
          "Сегмент щетки центральной",
          "217-120550-01",
          "шт.",
          "283  "
          ],
          [
          "31",
          "Сегмент щетки центральной",
          "217-78350-01",
          "шт.",
          "210  "
          ],
          [
          "32",
          "Сегмент щетки центральной",
          "1419-180550-01",
          "шт.",
          "375  "
          ],
          [
          "33",
          "Сегмент щетки центральной",
          "14192-117900-01",
          "шт.",
          "460  "
          ],
          [
          "34",
          "Сегмент щетки центральной",
          "1419-280700-01",
          "шт.",
          "602  "
          ],
          [
          "35",
          "Сегмент щетки центральной",
          "1419-203500-01",
          "шт.",
          "456  "
          ],
          [
          "36",
          "Сегмент щетки центральной",
          "1419-101450-01",
          "шт.",
          "235  "
          ],
          [
          "37",
          "Сегмент щетки центральной",
          "1419-127380-01",
          "шт.",
          "288  "
          ],
          [
          "38",
          "Сегмент щетки центральной",
          "217-180550-01",
          "шт.",
          "354  "
          ],
          [
          "39",
          "Сегмент щетки центральной",
          "1419-101400-01",
          "шт.",
          "235  "
          ],
          [
          "40",
          "Сегмент щетки центральной",
          "1419-120550-01",
          "шт.",
          "289  "
          ],
          [
          "41",
          "Сегмент щетки центральной",
          "1419-180700-01",
          "шт.",
          "459  "
          ],
          [
          "42",
          "Сегмент щетки центральной",
          "210-120550-01",
          "шт.",
          "278  "
          ],
          [
          "43",
          "Сегмент щетки центральной",
          "210-254900-01",
          "шт.",
          "698  "
          ],
          [
          "44",
          "Сегмент щетки центральной",
          "141917-180550-01",
          "шт.",
          "384  "
          ],
          [
          "45",
          "Сегмент щетки центральной",
          "141917-164550-01",
          "шт.",
          "407  "
          ],
          [
          "46",
          "Сегмент щетки центральной",
          "141917-254810-01",
          "шт.",
          "734  "
          ],
          [
          "47",
          "Сегмент щетки центральной",
          "14191417-164550",
          "шт.",
          "536  "
          ],
          [
          "48",
          "Сегмент щетки центральной",
          "141917-220550-01",
          "шт.",
          "606  "
          ],
          [
          "49",
          "Сектор лотковой щетки",
          "192712-171714",
          "шт.",
          "2 318  "
          ],
          [
          "50",
          "Сегмент щетки осевой",
          "20-35017",
          "шт.",
          "149  "
          ],
          [
          "51",
          "Сегмент щетки осевой",
          "20-35014",
          "шт.",
          "267  "
          ],
          [
          "52",
          "Сегмент щетки осевой",
          "20-30017",
          "шт.",
          "243  "
          ],
          [
          "53",
          "Сегмент щетки осевой",
          "20-30014",
          "шт.",
          "127  "
          ],
          [
          "54",
          "Подкат",
          "171418-700",
          "кг",
          "318  "
          ],
          [
          "55",
          "Ворс",
          "317-700",
          "кг",
          "639  "
          ],
          [
          "56",
          "Щетка ленточная",
          "2713-600150-18",
          "шт.",
          "339  "
          ],
          [
          "57",
          "Щетка ленточная",
          "2713-1300140",
          "шт.",
          "401  "
          ],
          [
          "58",
          "Щетка осевая",
          "271317-120390",
          "шт.",
          "7 166  "
          ],
          [
          "59",
          "Щетка осевая",
          "271317-57410-17",
          "шт.",
          "7 491  "
          ],
          [
          "60",
          "Щетка осевая",
          "271317-48320-17",
          "шт.",
          "7 338  "
          ],
          [
          "61",
          "Щетка осевая",
          "2713173-120550",
          "шт.",
          "15 020  "
          ],
          [
          "62",
          "Щетка осевая",
          "271317-200400",
          "шт.",
          "6 029  "
          ],
          [
          "63",
          "Щетка осевая",
          "271317-100400",
          "шт.",
          "7 329  "
          ],
          [
          "64",
          "Щетка осевая",
          "231317-320485",
          "шт.",
          "7 338  "
          ],
          [
          "65",
          "Щетка осевая",
          "271317-57500",
          "шт.",
          "9 228  "
          ],
          [
          "66",
          "Щетка осевая",
          "271317-57410",
          "шт.",
          "7 084  "
          ],
          [
          "67",
          "Щетка осевая",
          "271317-100400-17",
          "шт.",
          "5 738  "
          ],
          [
          "68",
          "Щетка цилиндрическая задняя ",
          "ОЗП231-03.01.100-01-01",
          "шт.",
          "59 684  "
          ],
          [
          "69",
          "Щетка цилиндрическая",
          "ОМП250-01.04.000-01-01",
          "шт.",
          "63 878  "
          ],
          [
          "70",
          "Щетка цилиндрическая ",
          "45495-01-01",
          "шт.",
          "79 064  "
          ],
          [
          "71",
          "Щетка цилиндрическая ",
          "МК 07.10.000-01-01",
          "шт.",
          "29 241  "
          ],
          [
          "72",
          "Щетка цилиндрическая ",
          "5188.08.05.110-01-01",
          "шт.",
          "100 375  "
          ],
          [
          "73",
          "Щетка цилиндрическая ",
          "283101-1-01-01",
          "шт.",
          "30 811  "
          ],
          [
          "74",
          "Щетка цилиндрическая ",
          "ЭД244КМ-7003885-01-01",
          "шт.",
          "35 119  "
          ],
          [
          "75",
          "Щетка цилиндрическая ",
          "ВКМ2020-2600240200-01-01",
          "шт.",
          "28 116  "
          ],
          [
          "76",
          "Щетка цилиндрическая ",
          "ВКМ2020-8002974-01-01",
          "шт.",
          "57 011  "
          ],
          [
          "77",
          "Щетка цилиндрическая ",
          "УКМ-1000042521-01-01",
          "шт.",
          "44 990  "
          ],
          [
          "78",
          "Щетка цилиндрическая",
          "54200112-01-01",
          "шт.",
          "49 032  "
          ],
          [
          "79",
          "Щетка цилиндрическая ",
          "ОМБ-1 00.10.110-01-01",
          "шт.",
          "33 463"
          ]
    ]
