-
  const shapedDiscBrushesWithAShapedMetalRingSliderData = [
    {
      path: "content/slider/",
      image: "5",
      format: "jpg",
      width: "1000",
      height: "1500",
      alt: "Cлайд"
    },
    {
      path: "content/slider/",
      image: "10",
      format: "jpg",
      width: "1500",
      height: "1000",
      alt: "Cлайд"
    },
    {
      path: "content/slider/",
      image: "11",
      format: "jpg",
      width: "1500",
      height: "1000",
      alt: "Cлайд"
    },
    {
      path: "content/slider/",
      image: "20",
      format: "png",
      width: "1500",
      height: "1500",
      alt: "Cлайд"
    },
    {
      path: "content/slider/",
      image: "21",
      format: "png",
      width: "1500",
      height: "1500",
      alt: "Cлайд"
    },
  ];
