-
  const steelRollSliderData = [
    {
      path: "productPage/steel-roll",
      image: "1",
      format: "jpg",
      width: "1500",
      height: "1000",
      alt: "Cлайд"
    },
    {
      path: "productPage/steel-roll",
      image: "2",
      format: "jpg",
      width: "1500",
      height: "1000",
      alt: "Cлайд"
    },
    {
      path: "productPage/steel-roll",
      image: "3",
      format: "jpg",
      width: "1500",
      height: "1000",
      alt: "Cлайд"
    },
  ];
