-
  const tupsSliderData = [
    {
      path: "content/slider/",
      image: "24",
      format: "png",
      width: "1500",
      height: "1500",
      alt: "Cлайд"
    },
    {
      path: "content/slider/",
      image: "25",
      format: "png",
      width: "1500",
      height: "1500",
      alt: "Cлайд"
    },
    {
      path: "content/slider/",
      image: "26",
      format: "png",
      width: "1500",
      height: "1500",
      alt: "Cлайд"
    },
  ];
