-
  const tupsSliderData = [
    {
      path: "productPage/tups",
      image: "1",
      format: "png",
      width: "761",
      height: "263",
      alt: "Cлайд"
    },
    {
      path: "productPage/tups",
      image: "2",
      format: "png",
      width: "1500",
      height: "1500",
      alt: "Cлайд"
    },
    {
      path: "productPage/tups",
      image: "3",
      format: "jpg",
      width: "1500",
      height: "1500",
      alt: "Cлайд"
    },
  ];
