//- Base

include ./base/header
include ./base/footer
include ./base/modal

//- Utils

include ./utils/icon
include ./utils/img
include ./utils/picture
include ./utils/sprite
include ./utils/link
include ./utils/title

//- Blocks

include ./blocks/intro
include ./blocks/map
include ./blocks/about-us
include ./blocks/box-description
include ./blocks/products
include ./blocks/socials
include ./blocks/shop-information
include ./blocks/shop-content-text
include ./blocks/delivery-information
include ./blocks/delivery-content-text
include ./blocks/shop
include ./blocks/delivery
include ./blocks/dealers

//- Mixins

include ./mixins/btn
include ./mixins/video
include ./mixins/main-page-swiper
include ./mixins/advantages-list
include ./mixins/product-card
include ./blocks/box-information
include ./blocks/box-description
include ./blocks/dealers-list
include ./blocks/ymap
include ./blocks/contacts
include ./mixins/main-map
include ./mixins/additional-nav-list
include ./mixins/shop-image
include ./mixins/global-slider
include ./mixins/price-table

//- Data

include ./data/sliderData
include ./data/disc-brushes-with-metal-crimp-ring-SliderData
include ./data/shaped-disc-brushes-with-a-shaped-metal-ring-SliderData
include ./data/spacerless-straight-profile-disc-brushes-SliderData
include ./data/bent-profile-spacerless-disc-brushes-SliderData
include ./data/tray-brushes-SliderData
include ./data/spacer-rings-SliderData
include ./data/polypropylene-pile-SliderData
include ./data/steel-roll-SliderData
include ./data/tups-SliderData
include ./data/polyamide-slider-data
include ./data/segments-price-list-data
include ./data/mulag-slider-data
