mixin navigation-arrow-prev()
  button.navigation-arrow.navigation-arrow--prev
    span.navigation-arrow__wrapper
      +icon("slider-arrow-left", 6, 11)

mixin navigation-arrow-next()
  button.navigation-arrow.navigation-arrow--next
    span.navigation-arrow__wrapper
      +icon("slider-arrow-right", 6, 11)
