mixin promoSlider(data)
  .promo__slider.swiper-container
    .swiper-wrapper
      each item in data
        div(class= (item.fullImage) ? "swiper-slide promo__slide promo__slide--full" : "swiper-slide promo__slide")
          .container
            +picture("content/main", item.imageName, `${item.imageName}-sm`, "png", item.imageWidth, item.imageHeight, item.imageAlt)
            div(class= (item.whiteColor) ? "promo__slide-text promo__slide-text--white" : "promo__slide-text")
              h1= item.title
              p= item.description
    .promo__navigation.container
      +navigation-arrow-prev
      +navigation-arrow-next
